<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.whalecar.persistence.CarBrandMapper">


  <select id="queryAllBrand" resultType="CarBrand">   
    SELECT
        *
    FROM
        Car_Brand
    Where flagUseable  = 'yes'
    Order by orderIndex
  </select>


  <select id="queryAllBrandAndSubBrand" resultType="CarBrandWithSubBrandView">
      SELECT
        if(Car_Sub_Brand.cname is null,
            Car_Brand.cname,
            Car_Sub_Brand.cname)
        as brandName,
        concat(Car_Brand.id,
            ',',
            if(Car_Sub_Brand.id is null,
                '',
                 Car_Sub_Brand.id))
        as brandId
      FROM
        Car_Brand
            left join Car_Sub_Brand
            ON Car_Brand.id = Car_Sub_Brand.carBrand
  </select>

</mapper>