<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.whalecar.persistence.CarBrandMapper">


  <select id="queryAllBrand" resultType="CarBrand">   
    SELECT
        *
    FROM
        Car_Brand
    Where flagUseable  = 'yes'
    Order by orderIndex
  </select>
  
  <select id="querySubBrandByBrandId" parameterType="integer"  resultType="CarSubBrand">   
    SELECT
        *
    FROM
        Car_Sub_Brand
    Where CarBrand = #{parameter} and flagUseable  = 'yes'
    Order by orderIndex
  </select>

</mapper>