<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.whalecar.persistence.CarModelMapper">

	<cache />
	
	<select parameterType="map" id="queryCarModelLv1ByBrand" resultType="CarModelLv1">
		SELECT 
			*
		FROM Car_Model_Lv1
		WHERE flagUseable = 'yes' 
		and CarBrand = #{carBrand}
		<if test="carSubBrand != null and carSubBrand != ''">
		  and carSubBrand = #{carSubBrand}
		</if>
		ORDER BY orderIndex
	</select>
	<select parameterType="Integer" id="queryCarModelLv1ViewById" resultType="CarModelLv1View">
	   SELECT
	       Car_Model_Lv1.* ,
	       Car_Brand.ename as brandEname,
	       Car_Brand.cname as brandCname
	   FROM Car_Model_Lv1 LEFT JOIN  Car_Brand
	     ON Car_Model_Lv1.id = #{id} and Car_Model_Lv1.carBrand = Car_Brand.id
	   WHERE Car_Model_Lv1.flagUseable = 'yes' and Car_Model_Lv1.id = #{id}
       ORDER BY orderIndex
	</select>
	
	<select parameterType="Integer" id="queryCarModelLv2ByLv1Id" resultType="CarModelLv2">
       SELECT
           *
       FROM Car_Model_Lv2
       WHERE flagUseable = 'yes' and carModelLv1 = #{carModelLv1Id}
       ORDER BY orderIndex
	</select>
	
	<select parameterType="Integer" id="queryCarModelLv3ByLv2Id" resultType="CarModelLv3">
       SELECT
           *
       FROM Car_Model_Lv3
       WHERE flagUseable = 'yes' and carModelLv2 = #{carModelLv2Id}
       ORDER BY orderIndex
    </select>
	
	<select parameterType="map" id="queryModelView" resultType="CarModelView">
		SELECT 
		    Car_Model_Lv1.id as carModelLv1,
		    Car_Brand.cname as brandCname,
		    Car_Model_Lv1.cname as cname,
		    Car_Model_Lv1.imgPath as imgPath,
		    min(Car_Model_Lv3.factoryPrice) as factoryPriceMin,
		    max(Car_Model_Lv3.factoryPrice) as factoryPriceMax,
		    min(Shop_Stock.carPrice) as shopPriceMin,
		    max(Shop_Stock.carPrice) as shopPriceMax
		FROM
		    (select * from Car_Model_Lv1 where flagUseable = 'yes') Car_Model_Lv1
		        LEFT JOIN
		    Car_Model_Lv2 ON Car_Model_Lv1.id = Car_Model_Lv2.carModelLv1
				AND Car_Model_Lv2.flagUseable = 'yes'
		        LEFT JOIN
		    Car_Model_Lv3 ON Car_Model_Lv2.id = Car_Model_Lv3.carModelLv2
				AND Car_Model_Lv3.flagUseable = 'yes'
		        LEFT JOIN
		    Car_Brand ON Car_Model_Lv1.carBrand = Car_Brand.id
				AND Car_Brand.flagUseable = 'yes'
		        LEFT JOIN
		    Shop_Stock ON Car_Model_Lv3.id = Shop_Stock.carModelLv3
		    	LEFT JOIN
		    Shop ON Shop_Stock.shop = Shop.id
		    AND Shop.flagUseable = 'yes'
		<where>
			<if test="carBrand != null and carBrand != ''">
				Car_Brand.id = #{carBrand}
			</if>
			<if test="carModelLv1 != null and carModelLv1 != ''">
				AND Car_Model_Lv1.id = #{carModelLv1}
			</if>
			<if test="priceMin != null and priceMin != ''">
				AND (
				  Car_Model_Lv3.factoryPrice &gt;= #{priceMin}
				 or 
				  Shop_Stock.carPrice &gt;=  #{priceMin}
				)
			</if>
			<if test="priceMax != null and priceMax != ''">
				AND (
				  Car_Model_Lv3.factoryPrice  &lt;= #{priceMax}
				 or 
				  Shop_Stock.carPrice  &lt;=  #{priceMax}
				)
			</if>
			<if test="city != null and city !=''">
				AND Shop.shopCity = #{city}
			</if>
			<if test="shop != null and shop !=''">
                AND Shop.id = #{shop}
            </if>
		</where>
		GROUP BY Car_Model_Lv1.cname , Car_Model_Lv1.imgPath , Car_Brand.cname
	    <if test="orderByName == 'price' and orderType == 'asc'">
	    ORDER BY shopPriceMin asc
	    </if>
	    <if test="orderByName == 'price' and orderType == 'desc'">
        ORDER BY shopPriceMax desc
        </if>
        LIMIT #{startIndex},#{pageSize}
	</select>
	
	<select parameterType="map" id="queryModelViewCount" resultType="int">
		SELECT 
		    count(distinct Car_Model_Lv1.cname , Car_Model_Lv1.imgPath , Car_Brand.cname)
		FROM
		    (select * from Car_Model_Lv1 where flagUseable = 'yes') Car_Model_Lv1
		        LEFT JOIN
		    Car_Model_Lv2 ON Car_Model_Lv1.id = Car_Model_Lv2.carModelLv1
				AND Car_Model_Lv2.flagUseable = 'yes'
		        LEFT JOIN
		    Car_Model_Lv3 ON Car_Model_Lv2.id = Car_Model_Lv3.carModelLv2
				AND Car_Model_Lv3.flagUseable = 'yes'
		        LEFT JOIN
		    Car_Brand ON Car_Model_Lv1.carBrand = Car_Brand.id
				AND Car_Brand.flagUseable = 'yes'
		        LEFT JOIN
		    Shop_Stock ON Car_Model_Lv3.id = Shop_Stock.carModelLv3
		    	LEFT JOIN
		    Shop ON Shop_Stock.shop = Shop.id
		    AND Shop.flagUseable = 'yes'
		<where>
            <if test="carBrand != null and carBrand != ''">
                Car_Brand.id = #{carBrand}
            </if>
            <if test="carModelLv1 != null and carModelLv1 != ''">
                AND Car_Model_Lv1.id = #{carModelLv1}
            </if>
            <if test="priceMin != null and priceMin != ''">
                AND (
                  Car_Model_Lv3.factoryPrice &gt;= #{priceMin}
                 or 
                  Shop_Stock.carPrice &gt;=  #{priceMin}
                )
            </if>
            <if test="priceMax != null and priceMax != ''">
                AND (
                  Car_Model_Lv3.factoryPrice  &lt;= #{priceMax}
                 or 
                  Shop_Stock.carPrice  &lt;=  #{priceMax}
                )
            </if>
            <if test="city != null and city !=''">
                AND Shop.shopCity = #{city}
            </if>
            <if test="shop != null and shop !=''">
                AND Shop.id = #{shop}
            </if>
        </where>
	</select>

</mapper>