<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.whalecar.persistence.CarModelMapper">

	
	<select parameterType="map" id="queryCarModelLv1ByBrand" resultType="CarModelLv1">
		SELECT 
			*
		FROM Car_Model_Lv1
		WHERE flagUseable = 'yes'
        <if test="carBrand != null and carBrand != ''">
            and carBrand = #{carBrand}
        </if>
		<if test="carSubBrand != null and carSubBrand != ''">
		    and carSubBrand = #{carSubBrand}
		</if>
		ORDER BY orderIndex
	</select>

    <select parameterType="map" id="queryCarModelLv1ByBrandId" resultType="CarModelLv1">
        SELECT
        *
        FROM Car_Model_Lv1
        WHERE flagUseable = 'yes' and carBrand = #{0} and carSubBrand = #{1}
        ORDER BY orderIndex
    </select>


	<select parameterType="Integer" id="queryCarModelLv1ViewById" resultType="CarModelLv1View">
	   SELECT
	       Car_Model_Lv1.* ,
	       if(Car_Sub_Brand.ename is null,Car_Brand.ename,Car_Sub_Brand.ename) as brandEname,
           if(Car_Sub_Brand.cname is null,Car_Brand.cname,Car_Sub_Brand.cname) as brandCname
	   FROM Car_Model_Lv1 LEFT
         JOIN  Car_Brand
	     ON Car_Model_Lv1.id = #{id} and Car_Model_Lv1.carBrand = Car_Brand.id
         LEFT JOIN  Car_Sub_Brand
         ON Car_Model_Lv1.id = #{id} and Car_Model_Lv1.carSubBrand = Car_Sub_Brand.id
	   WHERE Car_Model_Lv1.flagUseable = 'yes' and Car_Model_Lv1.id = #{id}
       ORDER BY orderIndex
	</select>
	
	<select parameterType="Integer" id="queryCarModelLv2ByLv1Id" resultType="CarModelLv2">
       SELECT
           *
       FROM Car_Model_Lv2
       WHERE flagUseable = 'yes' and carModelLv1 = #{carModelLv1Id}
       ORDER BY orderIndex
	</select>
	
	<select parameterType="Integer" id="queryCarModelLv3ByLv2Id" resultType="CarModelLv3">
       SELECT
           *
       FROM Car_Model_Lv3
       WHERE flagUseable = 'yes' and carModelLv2 = #{carModelLv2Id}
       ORDER BY orderIndex
    </select>
	
	<select parameterType="map" id="queryModelView" resultType="CarModelView">
		SELECT 
		    Car_Model_Lv1.id as carModelLv1,
		    if(Car_Model_Lv1.carSubBrand IS NULL,Car_Brand.cname,Car_Sub_Brand.cname) as brandCname,
            Car_Brand.logoPath as brandImgPath,
		    Car_Model_Lv1.cname as cname,
		    Car_Model_Lv1.imgPath as imgPath,
            Car_Model_Lv1.offprice as offprice,
            Car_Model_Lv1.hotmodel as hotmodel,
		    min(Car_Model_Lv3.factoryPrice) as factoryPriceMin,
		    max(Car_Model_Lv3.factoryPrice) as factoryPriceMax,
		    min(Shop_Stock.carPrice) as shopPriceMin,
		    max(Shop_Stock.carPrice) as shopPriceMax,
            group_concat(distinct Car_Model_Lv2.shortName order by Car_Model_Lv2.shortName separator ' ') as carModelLv2ShortNames
            <if test="user != null and user != ''">
                ,CASE (SELECT count(User_Favorite.id)
                    FROM User_Favorite
                    WHERE User_Favorite.user = #{user}
                    AND User_Favorite.carModelLv1 = Car_Model_Lv1.id
                )
                WHEN 0 THEN 'no'
                ELSE 'yes' END as favorite
            </if>
		FROM
		    (select * from Car_Model_Lv1 where flagUseable = 'yes') Car_Model_Lv1
		        LEFT JOIN Car_Model_Lv2
                    ON Car_Model_Lv1.id = Car_Model_Lv2.carModelLv1 AND Car_Model_Lv2.flagUseable = 'yes'
		        LEFT JOIN Car_Model_Lv3
                    ON Car_Model_Lv2.id = Car_Model_Lv3.carModelLv2 AND Car_Model_Lv3.flagUseable = 'yes'
		        LEFT JOIN Car_Brand
                    ON Car_Model_Lv1.carBrand = Car_Brand.id AND Car_Brand.flagUseable = 'yes'
                LEFT JOIN Car_Sub_Brand
                    ON Car_Model_Lv1.carSubBrand IS NOT NULL AND Car_Model_Lv1.carSubBrand = Car_Sub_Brand.id AND Car_Sub_Brand.flagUseable = 'yes'
                LEFT JOIN Shop_Stock
                    ON Car_Model_Lv3.id = Shop_Stock.carModelLv3
		    	LEFT JOIN Shop
                    ON Shop_Stock.shop = Shop.id AND Shop.flagUseable = 'yes'
		<where>
			<if test="carBrand != null and carBrand != ''">
				Car_Brand.id = #{carBrand}
			</if>
            <if test="carSubBrand != null and carSubBrand != ''">
                AND Car_Sub_Brand.id = #{carSubBrand}
            </if>
			<if test="carModelLv1 != null and carModelLv1 != ''">
				AND Car_Model_Lv1.id = #{carModelLv1}
			</if>
			<if test="priceMin != null and priceMin != ''">
				AND (
				  Car_Model_Lv3.factoryPrice &gt;= #{priceMin}
				 or 
				  Shop_Stock.carPrice &gt;=  #{priceMin}
				)
			</if>
			<if test="priceMax != null and priceMax != ''">
				AND (
				  Car_Model_Lv3.factoryPrice  &lt;= #{priceMax}
				 or 
				  Shop_Stock.carPrice  &lt;=  #{priceMax}
				)
			</if>
			<if test="city != null and city !=''">
				AND Shop.shopCity = #{city}
			</if>
			<if test="shop != null and shop !=''">
                AND Shop.id = #{shop}
            </if>
		</where>
		GROUP BY Car_Model_Lv1.cname , Car_Model_Lv1.imgPath , Car_Model_Lv1.offprice,Car_Model_Lv1.hotmodel,if(Car_Model_Lv1.carSubBrand IS NULL,Car_Brand.cname,Car_Sub_Brand.cname),Car_Brand.logoPath
	    <if test="orderByName == 'price' and orderType == 'asc'">
	    ORDER BY shopPriceMin asc
	    </if>
	    <if test="orderByName == 'price' and orderType == 'desc'">
        ORDER BY shopPriceMax desc

        </if>
        LIMIT #{startIndex},#{pageSize}
	</select>
	
	<select parameterType="map" id="queryModelViewCount" resultType="int">
		SELECT 
		    count(distinct Car_Model_Lv1.id)
		FROM
		    (select * from Car_Model_Lv1 where flagUseable = 'yes') Car_Model_Lv1
		        LEFT JOIN
		    Car_Model_Lv2 ON Car_Model_Lv1.id = Car_Model_Lv2.carModelLv1
				AND Car_Model_Lv2.flagUseable = 'yes'
		        LEFT JOIN
		    Car_Model_Lv3 ON Car_Model_Lv2.id = Car_Model_Lv3.carModelLv2
				AND Car_Model_Lv3.flagUseable = 'yes'
		        LEFT JOIN
		    Car_Brand ON Car_Model_Lv1.carBrand = Car_Brand.id
				AND Car_Brand.flagUseable = 'yes'
		        LEFT JOIN
		    Shop_Stock ON Car_Model_Lv3.id = Shop_Stock.carModelLv3
		    	LEFT JOIN
		    Shop ON Shop_Stock.shop = Shop.id
		    AND Shop.flagUseable = 'yes'
		<where>
            <if test="carBrand != null and carBrand != ''">
                Car_Brand.id = #{carBrand}
            </if>
            <if test="carModelLv1 != null and carModelLv1 != ''">
                AND Car_Model_Lv1.id = #{carModelLv1}
            </if>
            <if test="priceMin != null and priceMin != ''">
                AND (
                  Car_Model_Lv3.factoryPrice &gt;= #{priceMin}
                 or 
                  Shop_Stock.carPrice &gt;=  #{priceMin}
                )
            </if>
            <if test="priceMax != null and priceMax != ''">
                AND (
                  Car_Model_Lv3.factoryPrice  &lt;= #{priceMax}
                 or 
                  Shop_Stock.carPrice  &lt;=  #{priceMax}
                )
            </if>
            <if test="city != null and city !=''">
                AND Shop.shopCity = #{city}
            </if>
            <if test="shop != null and shop !=''">
                AND Shop.id = #{shop}
            </if>
        </where>
    </select>

    <select id="queryCarModelLv1ImgById" resultType="CarModelLv1Image">
        SELECT * FROM Car_Model_Lv1_IMAGE
        WHERE carModelLv1 = #{carModelLv1}
    </select>

    <select id="querySimilarCarModelLv1ByPrice" resultType="CarModelLv1">
        select t.id,t.cname,t.description from (
            select  abs(Car_Model_Lv3.factoryPrice - #{param1}) priceDiff,Car_Model_Lv1.* from
            Car_Model_Lv1,Car_Model_Lv2,Car_Model_Lv3
            where
            Car_Model_Lv1.id = Car_Model_Lv2.carModelLv1
            and
            Car_Model_Lv2.id = Car_Model_Lv3.carModelLv2) t
        group by t.id,t.cname,t.description
        order by avg(t.priceDiff)
    </select>
    
    <select id="queryIncludeCarModelLv1ByShop" resultType="CarModelLv1View">
        select
        distinct Car_Model_Lv1.*,sum(Shop_Stock.carOnHandNum) + sum(Shop_Stock.carOnOrderNum) as carNum
        from
        Car_Model_Lv1,
        Car_Model_Lv2,
        Car_Model_Lv3,
        Shop_Stock,
        Shop
        where
        Car_Model_Lv1.id = Car_Model_Lv2.carModelLv1
        and Car_Model_Lv2.id = Car_Model_Lv3.carModelLv2
        and Car_Model_Lv3.id = Shop_Stock.carModelLv3
        and Shop_Stock.shop = Shop.id
        and shop  = #{param1}
        group by Car_Model_Lv1.id,Car_Model_Lv1.cname,Car_Model_Lv1.description
        order by carNum desc

    </select>
    
    <select id="queryPriceOffCarModelLv1" resultType="CarModelLv1View">
        select
        Car_Model_Lv1.* ,Shop_Stock.carPrice as shopPrice,Car_Model_Lv3.factoryPrice as factoryPrice
        from
        Car_Model_Lv1,
        Car_Model_Lv2,
        Car_Model_Lv3,
        Shop_Stock
        where
        Car_Model_Lv1.id = Car_Model_Lv2.carModelLv1
        and Car_Model_Lv2.id = Car_Model_Lv3.carModelLv2
        and Car_Model_Lv3.id = Shop_Stock.carModelLv3
        and Shop_Stock.priceOff = 'yes'
        order by Shop_Stock.priceOffIndex

    </select>

    <select id="queryCarModelLv1ById" parameterType="Integer" resultType="CarModelLv1">
        select carBrand
        from Car_Model_Lv1
        where id = #{id}
    </select>

    <select id="queryCarBrandById" parameterType="Integer" resultType="CarBrand">
        select *
        from Car_Brand
        where id = #{carBrandId}
    </select>

    <select id="queryIdAndCname" resultType="CarModelLv1">
        select *
        from Car_Model_Lv1 where carBrand = #{carBrand}
    </select>

    <select id="queryAllCarBrand" resultType="CarBrand">
        select *
        from Car_Brand
        Order by orderIndex
    </select>

    <select id="queryLv2BycarModelLv1" resultType="CarModelLv2">
        select *
        from Car_Model_Lv2
        where carModelLv1 = #{0}
    </select>


    <select id="queryLv3BycarModelLv2" resultType="CarModelLv3">
        select *
        from Car_Model_Lv3
        where carModelLv2 = #{0}
    </select>


    <select id="queryLv2BycarModelLv1ID" resultType="CarModelLv2">
        select *
        from Car_Model_Lv2
        where carModelLv1 = #{0} and flagUseable = 'yes'
    </select>

    <select id="queryLv3BycarModelLv2ID" resultType="CarModelLv3">
        select *
        from Car_Model_Lv3
        where carModelLv2= #{0} and flagUseable = 'yes'
    </select>


    <select id="queryWxCarmodel" resultType="WxCarModel">
        SELECT Car_Model_Lv1.cname as cname, Car_Model_Lv1.id as LV1Id
        FROM  Car_Model_Lv1
        where Car_Model_Lv1.carBrand = #{0} and Car_Model_Lv1.carSubBrand = #{1}
    </select>

    <select id="queryCarLV2Wx" resultType="WxLV2">
        SELECT Car_Model_Lv2.id as carLv2Id, Car_Model_Lv2.shortName as carType FROM  Car_Model_Lv2
        where carModelLv1 = #{0}
    </select>

    <select id="queryCarLv3Wx" resultType="WxLv3">
        SELECT Car_Model_Lv3.id as carLV3ID, Car_Model_Lv3.factoryPrice as price
        FROM Car_Model_Lv3
        where carModelLv2 = #{0}
    </select>

    <select id="queryCarPriceWx" resultType="WxCarPrice">
       SELECT   Car_Model_Lv3.factoryPrice  FROM  Car_Model_Lv3 where id = #{0}
    </select>

    <select id="queryCarBrandName" resultType="WxCarBrandName">
        SELECT   Car_Sub_Brand.ename as brandName  FROM  Car_Sub_Brand where id = #{0} and carBrand = #{1}
    </select>


    <select id="queryDetailCarBrandName" resultType="WxCarBrandName">
        SELECT   Car_Sub_Brand.ename as brandName
        FROM Car_Model_Lv1
        LEFT join Car_Sub_Brand on Car_Model_Lv1.carBrand  = Car_Sub_Brand.carBrand and Car_Model_Lv1.carSubBrand = Car_Sub_Brand.id
        where Car_Model_Lv1.id = #{0}
    </select>

    <select id="queryDetailCarSubBrandName" resultType="WxCarBrandName">
        SELECT   Car_Model_Lv1.ename as brandName  FROM  Car_Model_Lv1 where id = #{0}
    </select>

    <select id="queryWxLV2Id" resultType="WxCarModelLv2ID">
        SELECT Car_Model_Lv2.id as LV2Id FROM Car_Model_Lv2 where carModelLv1 = #{0}
    </select>

    <select id="queryWxFactoryPrice" resultType="WxCarFPrice">
        SELECT Car_Model_Lv3.factoryPrice, Car_Model_Lv3.id as lv3Id FROM Car_Model_Lv3 where carModelLv2 = #{0}
    </select>

    <select id="queryWxCarPrice" resultType="WxWebCarPrice">
        SELECT carPrice as webPrice FROM Shop_Stock where carModelLv3 = #{0}
    </select>

    <select id="queryWxColorNum" resultType="WxLV2">
        SELECT colorOutsideCollection as colorNum FROM Car_Model_Lv3 where carModelLv2 = #{0} limit 1
    </select>

    <select id="queryWxColorRgb" resultType="WxLV2">
        SELECT colorRgb as colorNum FROM Dic_Color  where id = #{0}
    </select>
</mapper>