<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.whalecar.persistence.DicMapper">

  <cache />
  
  
  <select id="getAllDicCicy" resultType="DicCity">
  	SELECT
  		* 
  	FROM Dic_City
  	Where flag_useable = 'yes'
  	Order by order_index
  </select>
 
  <select id="getAllDicColor" resultType="DicColor">
  	SELECT
  		* 
  	FROM Dic_Color
  	Where flag_useable = 'yes'
  	Order by order_index
  </select>

</mapper>