<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.whalecar.persistence.DicMapper">

  <cache />
  
  <select id="queryAllDicCity" resultType="DicCity">
  	SELECT
  		* 
  	FROM Dic_City
  	Where flagUseable = 'yes'
  	Order by orderIndex
  </select>

  <select id="queryAllDicColor" resultType="DicColor">
  	SELECT
  		* 
  	FROM Dic_Color
  	Where flagUseable = 'yes'
  	Order by orderIndex
  </select>

</mapper>