<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.whalecar.persistence.DicMapper">

  
  <select id="queryAllDicCity" resultType="DicCity">
  	SELECT
  		* 
  	FROM Dic_City
  	WHERE flagUseable = 'yes'
  	Order by orderIndex
  </select>

  <select id="queryAllDicColor" resultType="DicColor">
  	SELECT
  		* 
  	FROM Dic_Color
  	WHERE flagUseable = 'yes'
  	Order by orderIndex
  </select>
  
  <select id="queryOutsideDicColorBycarModelLv3" parameterType="int" resultType="DicColor">
    SELECT 
      *
    FROM
      Dic_Color
    WHERE 
    FIND_IN_SET(
      Dic_Color.id,
      (SELECT 
         colorOutsideCollection
       FROM
         Car_Model_Lv3
       WHERE
         Car_Model_Lv3.id = #{carModelLv3Id})
      )
  </select>

    <select id="queryInsideDicColorBycarModelLv3" parameterType="int" resultType="DicColor">
        SELECT
            *
        FROM
            Dic_Color
        WHERE
            FIND_IN_SET(
                Dic_Color.id,
                (SELECT
                    colorInsideCollection
                FROM
                    Car_Model_Lv3
                WHERE
                    Car_Model_Lv3.id = #{carModelLv3Id})
        )
    </select>

</mapper>