<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.whalecar.persistence.Golf7AdvMapper">

  <insert id="insert">
      INSERT INTO `Golf7_Adv`
      (
      `name`,
      `tel`,
      `attentionModel`,
      `purposeShop`
      <if test="type != null and type != ''">
      ,type
      </if>
      ,`sex`
      )
      VALUES
      (
      #{name},
      #{tel},
      #{attentionModel},
      #{purposeShop}
      <if test="type != null and type != ''">
      ,#{type}
      </if>
      ,#{sex}
      );

  </insert>

    <select id="queryGolf7" resultType="managerSignUp">
        SELECT * FROM whalecar_server.Golf7_Adv where type= 7 or type = 8
        order by id desc
    </select>

    <select id="queryGolf7Type9" resultType="managerSignUp">
        SELECT * FROM whalecar_server.Golf7_Adv where type= 9
        order by id desc
    </select>

</mapper>