<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.whalecar.persistence.Golf7AdvMapper">

  <insert id="insert">
      INSERT INTO `Golf7_Adv`
      (
      `name`,
      `tel`,
      `attentionModel`,
      `purposeShop`
      <if test="type != null and type != ''">
      ,type
      </if>

      )
      VALUES
      (
      #{name},
      #{tel},
      #{attentionModel},
      #{purposeShop}
      <if test="type != null and type != ''">
      ,#{type}
      </if>
      );

  </insert>

</mapper>