<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.whalecar.persistence.managerSignUpMapper">
    <select id="queryGolf7" resultType="managerSignUp">
        SELECT * FROM whalecar_server.Golf7_Adv where type= 7 or type = 8
        order by id desc
    </select>
</mapper>
