<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.whalecar.persistence.ManagerMapper">
    <select id="queryUserOffTicket" resultType="UserOffTicketManager">
        select uot.createDate,uot.ticketSn,uot.phoneNum,uot.state,s.shopName,s.shopTel,cml3.fullName,cml3.factoryPrice,
        cml1.cname cnameLv1,cb.cname cnameCb,u.userName,u.userEmail
        from User_Off_Ticket uot inner join Shop_Stock ss on uot.shopStock = ss.id inner join Shop s on ss.shop = s.id
        inner join Car_Model_Lv3 cml3 on ss.carModelLv3 = cml3.id inner join Car_Model_Lv2 cml2 on cml3.carModelLv2 = cml2.id
        inner join Car_Model_Lv1 cml1 on cml2.carModelLv1 = cml1.id inner join Car_Brand cb on cml1.carBrand = cb.id inner join
        User u on uot.user = u.id
    </select>


    <select id="queryUserOrder" resultType="UserOrderManager">
        select uo.orderSn,uo.orderCreateDate,uo.orderPrice,uo.orderProcessState,uo.orderState,uo.orderTitle,uo.orderType,
        s.shopName,s.shopTel,u.userName,u.userEmail,u.userTel from User_Order uo inner join Shop s on uo.shop = s.id
        inner join User u on uo.user = u.id
    </select>

    <select id="queryUserSubmitPrice" resultType="UserSubmitPriceManager">
        select usp.createDate,usp.state,usp.originalPrice,usp.stateChangeDate,usp.userPrice,usp.shopPrice,s.shopName,
        s.shopTel,cml3.fullName, cml1.cname cnameLv1,cb.cname cnameCb,u.userName,u.userEmail,u.userTel
        from User_Submit_Price usp inner join Shop_Stock ss on usp.shopStock = ss.id inner join Shop s on ss.shop = s.id
        inner join Car_Model_Lv3 cml3 on ss.carModelLv3 = cml3.id inner join Car_Model_Lv2 cml2 on cml3.carModelLv2 = cml2.id
        inner join Car_Model_Lv1 cml1 on cml2.carModelLv1 = cml1.id inner join Car_Brand cb on cml1.carBrand = cb.id inner join
        User u on usp.user = u.id
    </select>

    <select id="queryUser" resultType="User">
        select *
        from User
    </select>


    <select id="queryManagerGetCarBrand" resultType="CarBrand">
        select *
        from Car_Brand
    </select>


    <update id="updateManagerGetCarBrand" parameterType="Map">
        update Car_Brand
        set cname = #{cname},
        ename = #{ename},
        logoPath = #{logoPath},
        flagUseable = #{flagUseable}
        where id = #{id}
    </update>


    <select id="queryManagerGetCarModelLv1" resultType="CarModelLv1">
        select *
        from Car_Model_Lv1
    </select>

    <select id="queryCarBrandById" parameterType="Integer" resultType="CarBrand">
        select *
        from Car_Brand
        where id = #{id}
    </select>

    <select id="queryCarSubBrandById" parameterType="Integer" resultType="CarSubBrand">
        select *
        from Car_Sub_Brand
        where id = #{id}
    </select>

    <select id="queryCarSubBrand" resultType="CarSubBrand">
        select *
        from Car_Sub_Brand
    </select>

    <update id="updateManagerGetCarModelLv1" parameterType="Map">
        update Car_Model_Lv1
        set carBrand = #{carBrand},
         carSubBrand = #{carSubBrand},
         cname = #{cname},
         ename = #{ename},
         orderIndex = #{orderIndex},
         flagUseable = #{flagUseable},
         offprice = #{offprice},
         hotmodel = #{hotmodel},
         description = #{description}
         where id = #{id}
    </update>
    
    <select id="queryManagerGetCarModelLv1Image" resultType="CarModelLv1Image">
        select *
        from Car_Model_Lv1_IMAGE
    </select>

    <select id="queryCarModelLv1ById" parameterType="Integer" resultType="CarModelLv1">
        select *
        from Car_Model_Lv1
        where id = #{id}
    </select>


    <update id="updateManagerGetCarModelLv1Image" parameterType="Map">
        update Car_Model_Lv1_IMAGE
        set carModelLv1 = #{carModelLv1},
        imgPath = #{imgPath},
        description = #{description}
        where id = #{id}
    </update>


    <select id="queryManagerGetCarModelLv2" resultType="CarModelLv2">
        select *
        from Car_Model_Lv2
    </select>

    <update id="updateManagerGetCarModelLv2" parameterType="Map">
        update Car_Model_Lv2
        set carModelLv1 = #{carModelLv1},
        shortName = #{shortName},
        fullName = #{fullName},
        orderIndex = #{orderIndex},
        flagUseable = #{flagUseable}
        where id = #{id}
    </update>

    <select id="queryManagerGetCarModelLv3" resultType="CarModelLv3">
        select *
        from Car_Model_Lv3
    </select>

    <select id="queryCarModelLv2ById" parameterType="Integer" resultType="CarModelLv2">
        select *
        from Car_Model_Lv2
        where id = #{id}
    </select>

    <select id="queryManagerGetDicColor" resultType="DicColor">
        select *
        from Dic_Color
    </select>

    <select id="queryDicColorById" parameterType="Integer" resultType="DicColor">
        select *
        from Dic_Color
        where id = #{id}
    </select>

    <update id="updateManagerGetCarModelLv3" parameterType="Map">
        update Car_Model_Lv3
        set carModelLv2 = #{carModelLv2},
        shortName = #{shortName},
        fullName = #{fullName},
        colorOutsideCollection = #{colorOutsideCollection},
        colorInsideCollection = #{colorInsideCollection},
        factoryPrice = #{factoryPrice},
        orderIndex = #{orderIndex},
        flagUseable = #{flagUseable},
        driveType = #{driveType},
        gearType = #{gearType}
        where id = #{id}
    </update>

    <update id="updateCarModelLv2ShortName" parameterType="Map">
        update Car_Model_Lv2
        set shortName = #{shortName},
        fullName = #{shortName}
        where id = #{id}
    </update>
</mapper>
