<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.whalecar.persistence.ManagerMapper">
    <select id="queryUserOffTicket" resultType="UserOffTicketManager">
        select uot.createDate,uot.ticketSn,uot.phoneNum,uot.state,s.shopName,s.shopTel,cml3.fullName,cml3.factoryPrice,
        cml1.cname cnameLv1,cb.cname cnameCb,u.userName,u.userEmail
        from User_Off_Ticket uot inner join Shop_Stock ss on uot.shopStock = ss.id inner join Shop s on ss.shop = s.id
        inner join Car_Model_Lv3 cml3 on ss.carModelLv3 = cml3.id inner join Car_Model_Lv2 cml2 on cml3.carModelLv2 = cml2.id
        inner join Car_Model_Lv1 cml1 on cml2.carModelLv1 = cml1.id inner join Car_Brand cb on cml1.carBrand = cb.id inner join
        User u on uot.user = u.id
    </select>


    <select id="queryUserOrder" resultType="UserOrderManager">
        select uo.orderSn,uo.orderCreateDate,uo.orderPrice,uo.orderProcessState,uo.orderState,uo.orderTitle,uo.orderType,
        s.shopName,s.shopTel,u.userName,u.userEmail,u.userTel from User_Order uo inner join Shop s on uo.shop = s.id
        inner join User u on uo.user = u.id
    </select>

    <select id="queryUserSubmitPrice" resultType="UserSubmitPriceManager">
        select usp.createDate,usp.state,usp.originalPrice,usp.stateChangeDate,usp.userPrice,usp.shopPrice,s.shopName,
        s.shopTel,cml3.fullName, cml1.cname cnameLv1,cb.cname cnameCb,u.userName,u.userEmail,u.userTel
        from User_Submit_Price usp inner join Shop_Stock ss on usp.shopStock = ss.id inner join Shop s on ss.shop = s.id
        inner join Car_Model_Lv3 cml3 on ss.carModelLv3 = cml3.id inner join Car_Model_Lv2 cml2 on cml3.carModelLv2 = cml2.id
        inner join Car_Model_Lv1 cml1 on cml2.carModelLv1 = cml1.id inner join Car_Brand cb on cml1.carBrand = cb.id inner join
        User u on usp.user = u.id
    </select>

    <select id="queryUser" resultType="User">
        select *
        from User
    </select>
</mapper>
