<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.whalecar.persistence.ShopMapper">
    
    <!-- 根据id查询shop -->
    <select id="queryShopById" parameterType="Integer" resultType="Shop">
        SELECT 
		    *
		FROM
		    Shop
		WHERE
		    id = #{shopId}
    </select>
    
    <!-- 根据用户名密码查询shop -->
    <select id="queryByNameAndPsw" resultType="Shop">
	    SELECT
	        * 
	    FROM Shop
	    Where flagUseable = 'yes'
	    and (loginName = #{loginName} and loginPassword = PASSWORD(#{loginPassword}))
	    LIMIT 1
	</select>
	
	<!-- 更新shop信息 -->
	<update id="updateShop" parameterType="map">
	   UPDATE Shop
		SET
			`shopName` = #{shopName},
			`shopAddress` = #{shopAddress},
			`shopTel` = #{shopTel},
			`shopEmail` = #{shopEmail},
			`shopCity` = #{shopCity}
			<if test="shopLocationLongtude != null and shopLocationLongtude != ''">
			    ,`shopLocationLongtude` = #{shopLocationLongtude}
			</if>
			<if test="shopLocationDimensiong != null and shopLocationDimensiong != ''">
			    ,`shopLocationDimensiong` = #{shopLocationDimensiong}
			</if>
			<if test="loginName != null and loginName != ''">
			    ,`loginName` = #{loginName}
			</if>
			<if test="loginPassword != null and loginPassword != ''">
			    ,`loginPassword` = #{loginPassword}
			</if>
		WHERE id = #{id}
	</update>
    
    <!-- 根据CarModelLv2 查询ShopStockView -->
    <select id="queryShopStockViewByCarModelLv2" parameterType="Integer" resultType="ShopStockView">
        SELECT 
		    Shop_Stock.*,
		    Car_Model_Lv3.shortName as carModelLv3ShortName,
		    Car_Model_Lv3.fullName as carModelLv3FullName,
		    Car_Model_Lv3.FactoryPrice as FactoryPrice,
		    Car_Model_Lv3.driveType as driveType,
		    Car_Model_Lv3.gearType as gearType,
		    (select colorCname from Dic_Color where Dic_Color.id = Shop_Stock.carOutsideColor) as carOutsideColorName,
            (select colorCname from Dic_Color where Dic_Color.id = Shop_Stock.carInsideColor) as carInsideColorName,
		    Shop.shopName as shopName
		FROM
		    Shop_Stock
		LEFT JOIN
		    Car_Model_Lv3 ON Car_Model_Lv3.id = Shop_Stock.carModelLv3
		LEFT JOIN
		    Shop ON Shop.id = Shop_Stock.shop
		WHERE
		    Car_Model_Lv3.carModelLv2 = #{carModelLv2Id}
    </select>
    
    <!-- 根据ShopId查询ShopStockView -->
    <select id="queryShopStockViewByShop" parameterType="Integer" resultType="ShopStockView">
        SELECT 
            Shop_Stock.*,
            Car_Model_Lv3.shortName as carModelLv3ShortName,
            Car_Model_Lv3.fullName as carModelLv3FullName,
            Car_Model_Lv3.FactoryPrice as FactoryPrice,
            Car_Model_Lv3.driveType as driveType,
            Car_Model_Lv3.gearType as gearType,
            (select colorCname from Dic_Color where Dic_Color.id = Shop_Stock.carOutsideColor) as carOutsideColorName,
            (select colorCname from Dic_Color where Dic_Color.id = Shop_Stock.carInsideColor) as carInsideColorName,
            Shop.shopName as shopName
        FROM
            Shop_Stock
        LEFT JOIN
            Car_Model_Lv3 ON Car_Model_Lv3.id = Shop_Stock.carModelLv3
        LEFT JOIN
            Shop ON Shop.id = Shop_Stock.shop
        WHERE
            Shop_Stock.shop = #{shopId}
    </select>
    
    <!-- 保存ShopStock -->
    <insert id="saveShopStock" parameterType="map">
        INSERT INTO 
          Shop_Stock 
          (
            shop, 
            carModelLv3, 
            carOutsideColor, 
            carInsideColor, 
            <if test="carAddition != null and carAddition != ''">
                carAddition, 
            </if>
            carPrice, 
            carOnOrderNum, 
            carOnHandNum
          )
          VALUES
          (
            #{shop}, 
            #{carModelLv3}, 
            #{carOutsideColor}, 
            #{carInsideColor}, 
            <if test="carAddition != null and carAddition != ''">
                #{carAddition}, 
            </if>
            #{carPrice}, 
            #{carOnOrderNum}, 
            #{carOnHandNum}
          )
    </insert>
    
    <!-- 更新ShopStock -->
    <update id="updateShopStock" parameterType="map">
        UPDATE Shop_Stock
			SET
				`shop` = #{shop},
				`carModelLv3` = #{carModelLv3},
				`carOutsideColor` = #{carOutsideColor},
				`carInsideColor` = #{carInsideColor},
				<if test="carAddition != null and carAddition != ''">
				   `carAddition` = #{carAddition},
				</if>
				`carPrice` = #{carPrice},
				`carOnOrderNum` = #{carOnOrderNum},
				`carOnHandNum` = #{carOnHandNum}
			WHERE `id` = #{id};
    </update>
    
    <!-- 删除ShopStock -->
    <delete id="deleteShopStockById" parameterType="Integer">
        DELETE FROM Shop_Stock        
            WHERE WHERE `id` = #{id};
    </delete>
    
    <!-- 分页查询shop -->
    <select id="queryShop" parameterType="map" resultType="Shop">
        SELECT *
        FROM Shop
        <where>
	        <if test="shopCity != null and shopCity != ''">
	            shopCity = #{shopCity}
	        </if>
	        <if test="carBrand != null and carBrand != ''">
	            AND FIND_IN_SET(#{carBrand},carBrand)
	        </if>
	    </where>
        LIMIT #{startIndex},#{pageSize}
    </select>
    
    
    <!-- 分页查询shop -->
    <select id="queryShopCount" resultType="int">
        SELECT count(id)
        FROM Shop
        <where>
            <if test="shopCity != null and shopCity != ''">
                shopCity = #{shopCity}
            </if>
            <if test="carBrand != null and carBrand != ''">
                AND FIND_IN_SET(#{shopCity},carBrand)
            </if>
        </where>
    </select>

    <select id="queryShopStockViewById" parameterType="Integer" resultType="ShopStockView">
        SELECT
            Shop_Stock.*,
            Car_Model_Lv3.shortName as carModelLv3ShortName,
            Car_Model_Lv3.fullName as carModelLv3FullName,
            Car_Model_Lv3.FactoryPrice as FactoryPrice,
            Car_Model_Lv3.driveType as driveType,
            Car_Model_Lv3.gearType as gearType,
            (select colorCname from Dic_Color where Dic_Color.id = Shop_Stock.carOutsideColor) as carOutsideColorName,
            (select colorCname from Dic_Color where Dic_Color.id = Shop_Stock.carInsideColor) as carInsideColorName,
            Shop.shopName as shopName,
            Car_Model_Lv2.shortName as carModelLv2ShortName,
            Car_Model_Lv2.fullName as carModelLv2FullName,
            Car_Model_Lv1.cname as carModelLv1Cname,
            Car_Brand.cname as carBrandCname
        FROM
            Shop_Stock
        LEFT JOIN
            Shop ON Shop.id = Shop_Stock.shop
        LEFT JOIN
            Car_Model_Lv3 ON Car_Model_Lv3.id = Shop_Stock.carModelLv3
        LEFT JOIN
            Car_Model_Lv2 ON Car_Model_Lv2.id = Car_Model_Lv3.carModelLv2
        LEFT JOIN
            Car_Model_Lv1 ON Car_Model_Lv1.id = Car_Model_Lv2.carModelLv1
        LEFT JOIN
            Car_Brand ON Car_Brand.id = Car_Model_Lv1.carBrand
        WHERE
            Shop_Stock.id = #{id}
    </select>

    <!-- 根据Id查询shop stock，并锁定 -->
    <select id="queryShopStockByIdWithLock" resultType="ShopStock">
        SELECT *
        FROM Shop_Stock
        WHERE id = #{id}
        FOR UPDATE
    </select>

    <!-- 更新库存 -->
    <update id="updateShopStockOnOrderNum" parameterType="map">
        UPDATE Shop_Stock
        SET carOnOrderNum = #{param2}
        WHERE id = #{param1}
    </update>

</mapper>