<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.whalecar.persistence.UserMapper">

  <select id="queryByNameAndPsw" resultType="User">
  	SELECT
  		* 
  	FROM User
  	Where flagUseable = 'yes'
  	and (loginName = #{loginName} and loginPassword = PASSWORD(#{password}))
  	LIMIT 1
  </select>

  <insert id="createUser" parameterType="map">
    insert into 
    User (loginName,loginPassword,userCity,userEmail,userName,userTel)
    values (#{loginName},PASSWORD(#{loginPassword}),#{userCity},#{userEmail},#{userName},#{userTel})
  </insert>

  <select id="queryCountByCondition" resultType="int">
    SELECT
      count(id)
    FROM User
    <where>
        <if test="loginName != null and loginName != ''">
          loginName =  #{loginName}
        </if>
        <if test="loginPassword != null and loginPassword != ''">
            loginPassword =  PASSWORD(#{loginPassword})
        </if>
        <if test="userCity != null and userCity != ''">
            userCity =  #{userCity}
        </if>
        <if test="userEmail != null and userEmail != ''">
            userEmail =  #{userEmail}
        </if>
        <if test="userName != null and userName != ''">
            userName =  #{userName}
        </if>
        <if test="userTel != null and userTel != ''">
            userTel =  #{userTel}
        </if>
    </where>
  </select>

  <insert id="createUserCarFavorite">
      INSERT INTO User_Favorite(user,carModelLv1)
      VALUES (#{userId},#{carModelLv1})
  </insert>

  <select id="queryUserCarFavoriteCount" resultType="Integer">
      SELECT count(id)
      FROM User_Favorite
      where user = #{userId} AND carModelLv1 = #{carModelLv1}
  </select>

  <delete id="deleteUserCarFavorite">
      DELETE
      FROM User_Favorite
      WHERE user = #{userId} AND carModelLv1 = #{carModelLv1}
  </delete>

  <select id="queryUserCarFavorite" resultType="UserCarFavorite">
      SELECT User_Favorite.createDate as createDate
            , User_Favorite.carModelLv1 as carModelLv1
            , Car_Model_Lv1.cname as carModelLv1FullName
            , Car_Brand.cname as brandCName
      FROM User_Favorite
      LEFT JOIN Car_Model_Lv1 on User_Favorite.carModelLv1 = Car_Model_Lv1.id
      LEFT JOIN Car_Brand on Car_Model_Lv1.carBrand = Car_Brand.id
      WHERE User_Favorite.user = #{userId}
  </select>
  
</mapper>