<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whalecar.persistence.UserOffTicketExpressMapper">
    <insert id="createUserOffTicketExpress">
        INSERT INTO user_off_ticket_express
          (
            createDate,
            ticketSn,
            phoneNum,
            carModelLv3,
            username,
            title
          )
          VALUES(
            #{createDate},
            #{ticketSn},
            #{phoneNum},
            #{carModelLv3},
            #{username},
            #{title}
          );
    </insert>
    <select id="findCarPrice" resultType="BigDecimal">
      SELECT min carPrice
      FROM shop_stock
      GROUP BY carPrice
      WHERE carModelLv3=#{carModelLv3}
    </select>
    <select id="findFactoryPrice" resultType="BigDecimal">
        SELECT factoryPrice
        FROM car_model_lv3
        WHERE id=#{id}
    </select>
</mapper>