<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.whalecar.persistence.UserSubmitPriceMapper">

  <insert id="createUserSubmitPrice" >
      INSERT INTO `User_Submit_Price`
      (
          `replyDate`,
          `originalPrice`,
          `shopStock`,
          `shop`,
          `user`,
          `state`,
          `stateChangeDate`,
          `userPrice`)
      VALUES
      (
          #{replyDate},
          #{originalPrice},
          #{shopStock},
          #{shop},
          #{user},
          'user_commit',
          CURRENT_TIMESTAMP,
          #{userPrice}
      );
  </insert>

  <select id="queryUserSubmitPriceByCondition" resultType="UserSubmitPriceView">
    SELECT User_Submit_Price.* , User.userName , User.userTel
    FROM  User_Submit_Price
    LEFT JOIN User on User_Submit_Price.user = User.id
    <where>
        <if test="userId != null and userId != ''">
            User_Submit_Price.user = #{userId}
        </if>
        <if test="shopId != null and shopId != ''">
            and User_Submit_Price.shop = #{shopId}
        </if>
        <if test="id != null and id != ''">
            and User_Submit_Price.id = #{id}
        </if>
    </where>
    ORDER By User_Submit_Price.createDate desc
  </select>

  <select id="queryUserSubmitPriceById" resultType="UserSubmitPrice">
      SELECT *
      FROM User_Submit_Price
      WHERE id = #{param1}
  </select>

  <update id="updateState">
    UPDATE User_Submit_Price
      SET state = #{state}
      <if test="shopPrice != null and shopPrice != ''">
          ,shopPrice = #{shopPrice}
      </if>
      ,stateChangeDate = current_timestamp
      WHERE ID = #{id}
  </update>

  <update id="processUserSubmitPriceOutOfDate">
      SELECT
        *
      FROM
        User_Submit_Price
      where
        (state = 'shop_agree'
          or 'shop_commit'
          or 'price_success')
          and
        date_add(createDate, interval 24 hour) > current_timestamp
  </update>

</mapper>