<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.whalecar.persistence.UserCarMapper">
    
    <!-- 快速订单，用户添加 -->
    <insert id="addUserCar" >
        insert into
        User_Car(
            userName,
            phoneNum,
            carID,
            carName,
            createDate,
            promoCode
        )values(
            #{userName},
            #{phoneNum},
            #{carID},
            #{carName},
            #{createDate},
            #{promoCode}
        )
    </insert>

    <!-- 添加优惠码 -->
    <insert id="promoCode">
        insert into
        User_Car(
            promoCode
        )values(
            #{promoCode}
        )
    </insert>


</mapper>