<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whalecar.persistence.UserOffTicketExpressMapper">
    <insert id="createUserOffTicketExpress">
        INSERT INTO user_off_ticket_express
          (
            createDate,
            ticketSn,
            phoneNum,
            carModelLv3,
            username,
            title
          )
          VALUES(
            #{createDate},
            #{ticketSn},
            #{phoneNum},
            #{carModelLv3},
            #{username},
            #{title}
          );
    </insert>

    <select id="findCarPrice" resultType="BigDecimal">
      SELECT min(carPrice)
      FROM shop_stock
      WHERE carModelLv3=#{carModelLv3}
    </select>

    <select id="findFactoryPrice" resultType="BigDecimal">
        SELECT lv3.factoryPrice
        FROM car_model_lv3 lv3
        WHERE id=#{id}
    </select>

    <select id="findCarBrand" resultType="CarBrand">
        SELECT *
        FROM car_brand
    </select>

    <select id="findCarModelLv1" resultType="CarModelLv1">
      SELECT *
      FROM car_model_lv1
      WHERE carBrand IN
      (
        SELECT carBrand
        FROM car_brand
        WHERE carBrand=#{carBrand}
      )
    </select>

    <select id="findCarModelLv3" resultType="CarModelLv3">
      SELECT lv3.*
      FROM car_model_lv3 lv3
      JOIN car_model_lv2 lv2 ON(lv3.carModelLv2=lv2.id)
      JOIN car_model_lv1 lv1 ON(lv2.carModelLv1=lv1.id)
      WHERE lv1.id=#{id}
    </select>
</mapper>