<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.whalecar.persistence.UserOffTicketMapper">

  <insert id="createUsertOffTicket">
     INSERT INTO `User_Off_Ticket`
      (
          `ticketSn`,
          `shopStock`,
          `shop`,
          `user`,
          `state`
      )
      VALUES
      (
          #{ticketSn},
          #{shopStock},
          #{shop},
          #{user},
          #{state}
      );
  </insert>

  <select id="queryUserOffTicketByCondition" resultType="UserOffTicketView">
      SELECT User_Off_Ticket.* , User.userName , User.userTel
      FROM  User_Off_Ticket
      LEFT JOIN User on User_Off_Ticket.user = User.id
      <where>
          <if test="userId != null and userId != ''">
              User_Off_Ticket.user = #{userId}
          </if>
          <if test="shopId != null and shopId != ''">
              and User_Off_Ticket.shop = #{shopId}
          </if>
      </where>
      ORDER By User_Off_Ticket.createDate desc
  </select>

    <select id="queryUserOffTicketById" resultType="UserOffTicket">
        SELECT *
        FROM  User_Off_Ticket
        where id = #{id}
    </select>

  <update id="updateUserOffTicketState">
    UPDATE User_Off_Ticket
      set state = #{state}
      <if test="billSn != null and billSn != ''">
        ,billSn = #{billSn}
      </if>
      where id = #{id}
  </update>

</mapper>