extends ../layout/mainFrame

block append css
    link(href='css/shop_list.css', rel='stylesheet', media='screen')
block append js
block append content
    .container(style='padding: 10px 0;')
        hr(style='margin: 0px 0px 17px;')
        .row-fluid
            .span10
                div(style="margin-bottom:30px")
                    h3.text-center(style="color:#444444;margin-top:30px") 一汽-大众9月销售139,677台，大众品牌再度突破10万辆大关
                    //h4(style="color:#d90000;margin-top:10px;font-size:14px;line-height:24px") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  促销时间：2013.09.23-2013.09.30
                    h4(style="color:#444444;margin-top:10px;font-size:14px;line-height:24px") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  •9月，一汽-大众全品牌终端销量共计139,677台，其中大众品牌102,236台，于本年度第二次实现了单月销量突破十万辆；
                        | •速腾车型包揽了2013年1-9月A+级市场月销量冠军；全新捷达上市半年来连续五次问鼎细分市场销量冠军；“B级车领导者”迈腾本月再夺销量冠军，实现在B级车市场的“四连冠”。
                        | 据最新官方数据显示，一汽-大众2013年9月份终端销量139,677台，其中大众品牌102,236台，奥迪品牌37,441台。至此，大众品牌已于本年度第二次实现了单月销量突破十万辆，且继续保持强势上升的市场态势。
                        | 就一汽-大众大众品牌而言，能够获此成绩，旗下七品牌车型在终端市场的优异表现功不可没。捷达、宝来、速腾三款A级主力车型继前月取得“集体突破2万辆”的好成绩后，本月表现依然不俗，销量分别达到25,353（全新捷达24,027辆）、22,226、25,391辆，其中特别值得一提的是，速腾车型包揽了2013年1-9月A+级市场的销量冠军；而全新捷达作为“中国家轿第一品牌”优势愈发凸显，上市半年内连续五次问鼎细分市场月销量冠军。
                div(style="width:621px;height:478px;margin:0 auto")
                    img(style="margin-bottom:10px",src="img/adver/adver_05_01.png")
                        h4.text-center(style="color:#444444;margin-top:30px") 速腾车型包揽了2013年1-9月A+级细分市场月销量冠军
                div(style="margin-bottom:30px")
                    h4(style="color:#444444;margin-top:10px;font-size:14px;line-height:24px") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        | 另外，作为“B级车领导者”的迈腾品牌本月以19,173辆的亮眼表现，再夺B级车市场销量冠军，实现在该细分市场的“四连冠”。除此，CC、高尔夫、GTI则分别以3,687台、6,221和185台的销量成绩，继续领跑各自细分市场。
                        | 从销售数字的细部，我们可以看到：一汽-大众并不是靠单一产品取胜，而是全系产品均在各自细分市场领先。不得不说，得此佳绩正是因为一汽-大众在拥有合理产品布局的同时，更拥有了卓越的营销体系。今年开年以来，一汽-大众的销售管理战略和布局均有较大调整，全国四大销售管理区域重新划分为六大区，并在每个大区增设售后服务部，对售前、售后服务的提升都有较大提升作用。此外，“两大计划”的进一步深入推进和实施，也使一汽-大众经销商的管理和运营能力得到明显提升，在已经完成“百万辆体系能力”的打造后，又开始向新的高度攀登。未来，一汽-大众将以继续更多卓越的产品与倍加优质的服务，为消费者们带来美好的汽车生活。
            .span2
                legend
                    img(src="img/icon_rocket.png")
                    | 促销信息
                ul.unstyled
                    li
                        a(href='#')
                legend
                    img(src="img/icon_rocket.png")
                    | 促销信息
                ul.unstyled
                    li
                        a(href='#')