extends ../layout/mainFrame

block append css
  link(href='css/shop_list.css', rel='stylesheet', media='screen')
block append js
block append content
  .container(style='padding: 10px 0;')
    hr(style='margin: 0px 0px 17px;')
    .row-fluid
      .span10
        div(style="margin-bottom:30px")
          h3.text-center(style="color:#444444;margin-top:30px") 全新捷达携手《天天向上》 浪漫故事即将上演
          h4(style="color:#d90000;margin-top:10px;font-size:14px;line-height:24px") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2013-12-19
          h4(style="color:#444444;margin-top:10px;font-size:14px;line-height:24px") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; •全新捷达婚车免费▪幸福加倍系列活动仍在继续，12月20日，全新捷达将携12对幸福新人，登上湖南卫视金牌综艺节目《天天向上》的舞台；
            br
            | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; •11月份，全新捷达销量突破26000台，自3月上市以来，展现出非凡的产品实力，在市场上取得了卓越的销量成绩；
            br
            | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; •全新捷达携新人们出席《天天向上》，旨在通过这个舞台，将其阳光时尚、充满活力、具有责任感的品牌正能量传递给电视机前的观众和消费者们。
            br
            | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; •听新人分享浪漫婚礼，感受近在身边的甜蜜幸福——12月20日晚8点15分，敬请关注湖南台全新捷达特别版《天天向上》。
            br
            | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 说起今年年底的婚恋主题大戏，除了眼下正在热播的《咱们结婚吧》，恐怕就要数从9月底开始，至今仍然备受广大新人情侣们关注的全新捷达“婚车免费▪幸福加倍”系列活动了。从梦想婚礼的网上征集，到全国六站特色主题婚礼的盛大举办，再到“最美新娘”的评选活动，并配合“免费婚车”等一系列特色服务，全新捷达已成功将幸福、浪漫与美好的感受深深植入众多用户及消费者的心中。
            | 近日，伴随着“最美新娘”评选结果的新鲜出炉，全新捷达婚礼系列活动也即将迎来又一波高潮。12月20日，全新捷达将率领来自“最美新娘”评选和参与梦想主题婚礼的12对幸福新人，登上湖南卫视金牌综艺节目《天天向上》的舞台。届时，新人们将和五位“天天兄弟”就婚恋、婚礼等话题展开讨论。用轻松多彩的方式，分享属于他们的浪漫故事。此外，也许还将有荧幕情侣、明星新人等嘉宾到场助阵。
            | 回首一系列“婚车免费▪幸福加倍”活动，拥有卓越产品力的全新捷达作为婚车堪称拥有了趋于完美的表现。同时，其在国内汽车市场中所取得的销量成绩更是可圈可点。最新数据显示，全新捷达上市八个月，市场销量快速攀升，月终端销量已突破26000台，至今已经六次夺得该细分市场的销量冠军。不仅奠定了其“中国家轿第一品牌”的地位，更以绝对的优势引领起A级车市场的消费潮流。相信随着全新捷达时尚、动感、富有上进心、责任心的全新品牌形象深入人心，它将能在市场上收获更大的成功。
            | 众所周知，《天天向上》是由湖南卫视推出的一档大型礼仪脱口秀节目。节目主持阵容强大，采用歌舞、访谈、情景戏三段式，在轻松欢快、诙谐幽默的氛围中，传播中国千年礼仪之邦的公德与礼仪文化，收到了广大观众的好评和较高的收视率。而此番，备受欢迎的全新捷达携新人们的出席，正是要通过这个舞台，将其阳光时尚、充满活力、具有责任感的品牌正能量传递给电视机前的观众和消费者们。
            | 听新人分享浪漫婚礼，感受近在身边的甜蜜幸福——12月20日晚8点15分，敬请关注湖南台全新捷达特别版《天天向上》。



        //div(style="width:621px;height:478px;margin:0 auto")
            img(style="margin-bottom:10px",src="img/adver/adver_03_01.png")
                h4.text-center(style="color:#444444;margin-top:30px") 全新宝来一直以强劲动力、完美操控、前沿设计以及贴心关怀为诉求，一次又一次的刷新了中国A级轿车标准
        //div(style="margin-bottom:30px")
            h4(style="color:#444444;margin-top:10px;font-size:14px;line-height:24px") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                | 全新宝来的销量火爆，不仅仅是一汽-大众在销售领域的成功，其强大的产品力与品牌力的有力支撑，也是促成全新宝来销量高涨的主要因素。作为一款家用A级车而言，全新宝来为消费者带来了更为人性化的人机工程学设计，以及丰富的科技型配置应用，不仅营造了美好的视觉空间，更兼顾了舒适乘用体验，提升了全新宝来的乘用乐趣。除此之外，全新宝来搭载的1.6L和1.4TSI发动机，完美融合了澎湃动力与驾控乐趣，将“充满驾乘乐趣的高品质轿车”的定位展现得淋漓尽致。
        //div(style="width:621px;height:478px;margin:0 auto")
            img(style="margin-bottom:10px",src="img/adver/adver_03_02.png")
                h4.text-center(style="color:#444444;margin-top:30px") 电动可调外后视镜集成LED侧转向灯
        //div(style="margin-bottom:30px")
            h4(style="color:#444444;margin-top:10px;font-size:14px;line-height:24px") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                | 依靠着人性化的设计以及丰富的科技型配置，全新宝来进一步巩固了以消费者需求为目标的出发点，树立了A级轿车的典范，同时也刷新了中国A级轿车市场的标准。环顾中国A级车市场，全新宝来一直以高品质、强劲动力、完美操控、前沿设计以及贴心关怀为诉求，一次又一次的刷新了中国A级轿车标准，证明了一汽-大众一直在为中国消费者制造高品质轿车而努力。
                | 作为A级车市场中的经典之作，全新宝来的销量数据与累计超过百万的庞大用户群体不无关系，在品牌口碑与大众造车的理念下，全新宝来必将会延续品牌辉煌，在为市场注入活力的同时，更将为一汽-大众赢得更多的市场份额及广泛赞誉。
      .span2
        legend
          img(src="img/icon_rocket.png")
          | 促销信息
        ul.unstyled
          li
            a(href='#')
        legend
          img(src="img/icon_rocket.png")
          | 促销信息
        ul.unstyled
          li
            a(href='#')