extends ../layout/mainFrame

block append css
  link(href='css/shop_list.css', rel='stylesheet', media='screen')
block append js
block append content
  .container(style='padding: 10px 0;')
    hr(style='margin: 0px 0px 17px;')
    .row-fluid
      .span10
        div(style="margin-bottom:30px")
          h3.text-center(style="color:#444444;margin-top:30px") 限牌并非“狼来了”
          h4(style="color:#444444;margin-top:10px;font-size:14px;line-height:24px") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            | 悄悄地，天津于12月15日下午“临时突击”，成为继北上广黔之后，第五个实施机动车限牌的城市。与广州一样，天津限牌“快准狠”，不仅是紧急通知，而且还与“限行”并行。这让很多此前在“门外”看热闹的人突然意识到：机动车“限牌”不再是一线城市的事儿，更不是“狼来了”，二线城市也有如此“充分”的限牌理由！大家慌了——不管现在限没限，赶紧买辆车吧。 文/ 邓莉 图/新华社
            br
            | 限牌理由：治堵和治污
            br
            | 与北上广等城市限牌的出发点一致，天津“限购+限行”双管齐下的最大理由是——堵！同时也为了控量和治霾需要。资料显示，天津进入汽车爆发式增长期，目前该市机动车保有量已达到236万辆，
            | 同时在过去3年，天津的常住人口也增加到了1400多万人，企业和个体工商户的成倍增长推动汽车行业的爆发，仅三年间就增加了100多万辆车。爆发式增长带来的后果就是：天津市区主要交通节点经常发生较为严重的交通拥堵，机动车尾气排放成为主要污染源之一，更是雾霾天气形成的重要原因。以上这些都是中国多数城市都已面临或正将面临的严峻问题，也是北上广等城市限牌、限行的共同理由。
            br
            | 数据表明，北京今年的汽车保有量超过530万辆、上海则超过262万辆，广州也已突破250万辆。而还有许多尚未限牌的城市，保有量数字同样惊人：如成都保有量超过313万辆、深圳年底也将突破250万辆，就连郑州也有240万辆保有量。综合统计显示，到2013年，全国有29个城市的汽车保有量超过百万辆，北京、天津、成都、深圳、上海、广州、苏州、杭州8个城市超过200万辆。这一连串的保有量数字具体体现在实际城市交通上，就是堵塞和污染！大城市不仅面临治堵和治污双重压力，同时，因保有量增多带来的交通安全隐患也急剧增加。“限”法：广州被学习
            | 天津的限牌政策充分参考了广州的限牌政策细则。将“摇号”和“竞拍”合二为一，同时推出了“限行”。从北京的“摇号”，上海的“竞拍”，贵阳的“限行”，到广州、天津的“二合一”，
            | 这五个国内现有的“限牌城市”，提供了很多经验给正准备酝酿限牌的城市。
            br
            | 北京的摇号越来越难，2014年起，北京每年24万个小汽车摇号指标将缩为15万，但数据显示：截至12月8日，北京小客车指标申请个人共有166万余个、单位共5.5万余个，真正的僧多粥少；而上海的最新车牌价突破9万元，被称为“最贵铁皮”！与此相比，广州的摇号比例如今是35争1，但是指标竞价1万元底价成交者众，且新能源车能直接上牌。
            | 这种“二合一”的方式让有钱和拼人品的消费者都有“发挥余地”，相对科学，此次天津参考广州的限牌政策，可谓当下数种办法中较为合理的选择。
            | 现状：限牌并非一劳永逸广州市交通工作小组曾发布《广州交通发展白皮书》，向公众公布了广州的“家底”：十区道路面积仅能容165万辆车出行、中心城区仅能同时容纳100万辆车出行，
            | 面对超过一倍多的汽车保有量，中心城区实在难以容纳。同时，白皮书的数据显示，广州登记的停车泊位与汽车保有量之比为1比3.3，停车位远远难以满足需求。同样的，北京、上海市
            | 中心通行容量和停车位容量与保有量的冲突更为明显，大城市的道路堵塞已经成为常态。
            br
            | 与机动车保有量增加，最大的矛盾是城市道路建设的增速远远落后，数据显示：目前中国城市的机动车保有量增长率约每年15%，而城市道路的增长率仅3%左右。
            | 因此，必须对机动车的出行和使用加以科学的限制、引导和管理。“限牌”成为了当下最简单最容易实施的手段。
            br
            | 事实上限牌尽管有好处，但并非一劳永逸。此前有相关交通管理部门的负责人就坦言：限牌弊端也显而易见。在相关限行配套政策尚未健全的前提下采取限牌措施，
            | 但周边地市依然放开上牌，实际控制效果并不会很好，很多外地车涌入，还会造成政府税费的大量流失；此外，限牌措施不能从根本上减轻城市的道路交通压力，还会让车辆源头管理工作更难。
            | 可以说，在缓堵保畅的措施中，交通总量控制是发展方向，但杀伤力较大，也不是唯一措施。消费趋势：买车趋高大上。实际上，在目前新能源推广工作进行当中，限购在中国市场并未起到非常理想的治堵和治污作用。首当其冲却对本土品牌产生了冲击。数据显示，北上广的实施限购小客车政策之后，中国本土品牌市场占有率急剧下跌，最惨的下降近一半，仅维持在10%左右，远低于全国市场32%的水平。而在实施限购政策后，消费者更加趋向于买大尺寸、大排量、高价甚至是进口车，让有限的存款在购车时能够发挥“一步到位”的作用。而在北上广等大城市的新车上牌数字中，1.6L及以下排量的轿车占有率下降17%，A0级以下车型市场份额不足5%。广州今年前十个月的新车上牌数据更显示出了限牌后消费者对高档车的追捧：B级车和高档豪车的总和占所有新上牌车辆的近半比例，SUV车型增速更是超过20%以上，其中雷克萨斯、奔驰、宝马、奥迪，甚至路虎、保时捷等豪华车的SUV比例超过三分之一。
            br
            | 发展风向：新能源车相对“受益”
            br
            | 限牌对车市的打击是沉重的，不少新车的销量在该地区被迫锐减，反观新能源车则是机动车限牌政策下的最大“受益者”。按照广州、北京、天津等城市的限购政策，限牌总会对新能源汽车网开一面，如可以直接获得指标上牌、可以享受政府补贴等。北京普通小汽车的摇号指标在2014年起要缩水近4成，配置机动车指标变为15万辆，但新能源车的配比率却将逐年递增，从每年2万个未来将逐渐增加到每年6万个。12月中旬，第一批28个新能源汽车推广应用城市或区域名单也公布，北京以及周边的河北十个城市、天津、太原、晋城等入选，如此一来购买新能源车补贴最高可享6万元额度。不仅有利于汽车尾气排放、缓解整个区域大气污染，也给各大车企新能源车发出了欢迎投放市场的“邀请函”。
            br
            | 区域转移：二线大城市也要限此前的北上广限牌限购，也许在大家情理当中。但天津却拉开了二线大城市“限牌”的序幕，让很多人突然意识到，限牌不再是“狼来了”
            | ，而是很可能随时降临到任意一座城市。暂时略过那些汽车保有量超过200万辆的城市，就是武汉的交管局也曾表态：当该市汽车总量达到150万辆时，就会考虑汽车限购事宜。
            | 再看看最新数据，今年，武汉的保有量已经超过150万辆……在“雾霾”笼罩众城市追求环保的呼声一浪比一浪高，在城市未变得更为堵塞之前，限牌显得如此“迫在眉睫”。
            br
            | 据不完全统计，此前放出过要机动车限牌风声的城市不在少数，与广州相邻的深圳更是早有传言——限牌文件已经基本落实，就待时机正式公布。早在今年7月，中国汽车工业协会曾提出，天津、深圳、杭州、石家庄、重庆、青岛、武汉等8个城市均存在实施限购的可能。而记者采访多位汽车厂家相关负责人时，他们都认为如成都、杭州、深圳、大连等这些二线大城市都将很快步入汽车限购时代，限牌潮向二线城市转移并不意外。在此环境下，不少汽车厂家从两三年前起就将网点下沉，深入三四线城市，甚至县城、乡镇，以“弥补”和缓冲一二线大城市限购带来的销量损失。
            br
            | 下一个限牌城市将是……
            br
            | 杭州？
            br
            | 态度：积极研究，不放弃。
            br
            | 杭州市领导及相关部门领导曾就限牌限购等问题多次发出声音。11月底，杭州市治堵办表示：杭州暂不限牌，但在积极研究中。目前杭州交警部门拟定了一个市区工作日期间交通总量控制的递进策略，具体分四种模式：早晚高峰错峰限行、白天限行、早晚高峰“单双号”限行、白天“单双号”限行。根据交通拥堵情况，逐级递进。
            br
            | 成都？
            br
            | 态度：辟谣，两年内不会限。
            br
            | 2010年4月，成都市有关部门举行“成都市中心城区机动车增长总量控制政策听证会”，当时大部分听证代表反对，最终未能成行。成都市交管局相关负责人近期表示：尽管今年“两会”上限牌提议再次被提出，但成都政府相关职能部门明确回应表示：两年之内，成都不会推出限购令。
            br
            | 深圳
            br
            | 态度：隐晦，有可能。
            br
            | 深圳的机动车保有量已与广州看齐，车辆密度严重超出平均水平。去年9月就有传言深圳即将限购汽车，但深圳市交警部门当即正式辟谣并明确表示：2012年年内到2013年年初也不会实行限购。如今深圳要限牌的“呼声”最高。
            br
            | 此前深圳市长也曾表示：主要发展绿色出行交通，但不会完全摒弃“摇号政策”实施的可能性。深圳市公安局副局长王国宾表示：限车牌深圳绝不会搞突然袭击，一定会广泛听取意见。
            br
            | 武汉？
            br
            | 态度：辟谣，暂无计划。
            br
            | 此前武汉交管局曾表态，当汽车总量达到150万辆时，会考虑汽车限购事宜。随着天津限购实施，武汉市交管部门正式表态，目前武汉市机动车数量已达152万辆，但其中有21万辆为摩托车，已经限制其在市内行驶。随着地铁延伸，新车上牌的增速或将放缓。因此，近期武汉暂无车辆限牌计划。
            br
            | 沈阳？
            br
            | 态度：明确表态不考虑
            br
            | 目前，沈阳市的机动车保有量已经达到133万辆，机动车数量迅猛增长。近日，沈阳市政府召开道路交通管理工作专家学者座谈会表态，目前的城市交通现状，沈阳市近期不会采取限号限行的办法控制机动车的增长。
            br
            | 大连
            br
            | 态度：以防污染为主，治堵正研究
            br
            | 大连也是限牌传言较盛的一个城市。近期大连市人大法工委相关负责人更表示：应根据本市大气污染防治工作需要，组织有关部门开展城市机动车保有量、出行量调控政策研究，适时采取措施控制机动车保有量、出行量年度增长。但控制机动车保有量、出行量不等同于限牌限号，还包括优先发展城市公交、加大监管力度、提高养车成本等多种措施。
        //div
          div(style="width:621px;margin:0 auto")
            img(style="margin-bottom:10px",src="img/adver/adver_01_01.png")
              h4.text-center(style="color:#444444;margin-top:30px") 简洁精炼线条、首尾呼应的设计，使全新高尔夫更加精致大气
          div(style="margin-bottom:30px")
            h4(style="color:#444444;margin-top:10px;font-size:14px;line-height:24px") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            | 如果说“Simple”原则指导了全新高尔夫的外在，那么“Product”则是它内在修行的根本所在。没有任何浮夸的心思，高尔夫自第一代车型诞生以来就以诸多实用的创新科技成为了同级别车的领袖。当然，身为第七代产品的全新高尔夫也不例外。从用户的实际体验与感受出发，从内饰设计到科技装备，全新高尔夫实现了动力操控性、舒适安全性，以及豪华科技性的全面更新与进化，众多越级的创新科技装备也将首次成为A级两厢车的标配。全新高尔夫，无愧为“集德国大众技术之大成”之杰作。
            | 作为全新高尔夫造车的第三个原则，“Universal”似乎已经贯彻了整整39年，与其说是原则，不如说是一种坚持为消费者提供优质普及型轿车的执着态度。在“Universal”思想的引导下，每一代高尔夫都拥有非凡的性价比，驾驶和喜爱它的人遍布了社会的各个阶层。它是无数家庭的挚爱之选，亦让贝克汉姆、奥兰多•布卢姆追捧，甚至获得德国总理乃至罗马教皇的喜爱。如此“跨界”的市场表现，唯有高尔夫才能轻而易举的做到。同样“Universal”也将深深的影响着全新高尔夫，从品质到价格，它都无疑将是一款适合更多不同背景、不同职业、不同个性消费者的优质普及型车。
          div(style="width:621px;margin:0 auto")
            img(style="margin-bottom:10px",src="img/adver/adver_01_02.png")
              h4.text-center(style="color:#444444;margin-top:30px") 历经39年发展，高尔夫已经成为无数家庭的挚爱之选，而全新高尔夫从品质到价格，也将成为一款适合更多不同背景、不同职业、不同个性消费者的优质普及型车
          div(style="margin-bottom:30px")
            h4(style="color:#444444;margin-top:10px;font-size:14px;line-height:24px") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              | “Sympathy”是全新高尔夫造车的第四大原则，将一直以来高尔夫的积极阳光、充满活力、值得信赖的精神与灵魂融汇其中，力求与消费者产生从产品需要到精神层面的共鸣。也正是这样的高尔夫精神，吸引了那样一群关注品质、信赖品牌、追求与众不同、崇尚实用性与灵活驾驶的精英消费者们的目光。在心灵的共鸣之中，他们加入到高尔夫族的行列之中，用鲜活而真实的汽车生活故事，使高尔夫文化进一步扩散、升华。
          div(style="width:621px;margin:0 auto")
            img(style="margin-bottom:10px",src="img/adver/adver_01_03.png")
              h4.text-center(style="color:#444444;margin-top:30px") 39年来，高尔夫已经创下销售超越3000万辆，它已经成为一个鲜明的符号，刻印在世界两厢车历史上和万千高尔夫族的心中
          div(style="margin-bottom:30px")
            h4(style="color:#444444;margin-top:10px;font-size:14px;line-height:24px") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            | 毫无疑问，已经创下销售超越3000万辆，平均每分钟销售1.47台的市场奇迹的高尔夫，已然成为了一个不可撼动的级别。诚如第五原则“Iconic”所阐释的，它是一个鲜明的符号，刻印在世界两厢车历史上和万千高尔夫族的心中。这样的成就也正暗合了全新高尔夫先进的造车理念——Design an Icon。相信，一汽-大众全新高尔夫的到来，将会以令人一见倾心的经典设计和超高的品质标准，赢得更多消费者的喜爱，继续推动并引领中国两厢车的发展潮流。使高尔夫的品牌符号，在中国乃至世界汽车历史上更加鲜明夺目。
      .span2
        legend
          img(src="img/icon_rocket.png")
          | 促销信息
        ul.unstyled
          li
            a(href='#')
        legend
          img(src="img/icon_rocket.png")
          | 促销信息
        ul.unstyled
          li
            a(href='#')