extends ../layout/mainFrame

block append css
    link(href='css/shop_list.css', rel='stylesheet', media='screen')
block append js
block append content
    .container(style='padding: 10px 0;')
        hr(style='margin: 0px 0px 17px;')
        .row-fluid
            .span10
                div(style="margin-bottom:30px")
                    h3.text-center(style="color:#444444;margin-top:30px") 配置豪华升级 速腾2014款成都车展亮相
                    //h4(style="color:#d90000;margin-top:10px;font-size:14px;line-height:24px") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  促销时间：2013.09.23-2013.09.30
                    h4(style="color:#444444;margin-top:10px;font-size:14px;line-height:24px") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  •8月30日，一汽-大众速腾2014款在成都车展上首次公开亮相并正式上市；
                        | •速腾2014款配置再度提升，更加人性豪华；更多先进科技装备选装，带来更加多元的选择；
                        | •速腾2014款的上市，将把A+级车的行业标准推向更高的水平，并将收获更多消费者的青睐。
                        | 8月30日，以“缤纷车展 炫动蓉城”为主题的第十六届成都国际车展正式拉开帷幕。借此车坛盛会之机，光彩闪耀的一汽-大众速腾2014款登上了1200平米的超大展台，首次亮相于公众面前并正式宣布上市。相较于老款车型，速腾2014款在保证原有舒适性配置的基础上，更进一步丰富了整车的豪华配置，全系车型售价区间为131,800—185,800元，标配车型市场指导价格保持不变。同时，基于速腾2014款，速腾蓝驱版与速腾GLI也进行了相应的更新与提升，两款车型的价格分别为169,800元、225,800元，值得一提的是，速腾蓝驱版将有更多的车身颜色方案可供选择。由此，整个速腾品牌的性价比再次提高。
                div(style="width:621px;height:478px;margin:0 auto")
                    img(style="margin-bottom:10px",src="img/adver/adver_04_01.png")
                        h4.text-center(style="color:#444444;margin-top:30px") 速腾2014款细节改进、配置提升
                div(style="margin-bottom:30px")
                    h3.text-center(style="color:#444444;margin-top:30px") 配置再度提升 更加人性豪华
                    h4(style="color:#444444;margin-top:10px;font-size:14px;line-height:24px") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        | 融入“Bauhaus包豪斯”全新设计理念的全新速腾，带来的不仅仅是人性化的设计，而且制造出A+级车轿车全新标准，其大空间和舒适性成为其标志性的体现。这一点，速腾2014款不仅完美的传承下来，并通过配置的增加再度提升了速腾品牌的人性化、豪华属性。
                        | 作为外形上的唯一变化，全新的车轮造型在细节之处为速腾2014款的外观带来一抹充满“跃动、时尚”的新鲜感。而内饰上的全面提升，可谓是速腾2014款的一大亮点。首先是可拉伸前中央扶手及真皮方向盘的全系标配，不仅以人性化的角度为驾驶人员带来了更好的舒适性，更直观的提升了整个产品阵列内饰的豪华度与品质感。此外，针对1.6L舒适型和1.4T豪华型共四款车型，速腾2014款还标配了迎宾门槛条和新Vienna真皮座椅，豪华品质感不彰自显。而1.4T、1.8T两款旗舰车型则标配了更为高档的Alcantara真皮座椅，其高贵属性堪比豪车。
                    h3.text-center(style="color:#444444;margin-top:30px") 先进科技装备 更加多元选择
                        h4(style="color:#444444;margin-top:10px;font-size:14px;line-height:24px") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            | 速腾2014款是一款集众多高科技配置于一身的A+级轿车，它将前款高配车型中所装备的高科技配置，延展到更多不同配置车型中，进一步提升了速腾的性价比和竞争力，保证消费者有了更为丰富的选择空间。从而，速腾家族的整体科技实力也将继续引领中国A+级市场。
                            | 能够有效避免因轮胎失压而造成安全隐患的胎压监测系统，以及为泊车带来便捷的先进后泊车雷达已经不再是豪华型的专利。速腾2014款1.6L舒适型也可进行选装，这两项科技装备的增配更好的保证了驾乘者的安全。除此之外，先进的后视摄像头和智能钥匙与一键启动系统这两项实用性很高的科技装备，也成为了高配车型的可装备。通过后视摄像头，不仅能反映倒车时车后方的实际影像，更能根据方向盘角度变化对车辆可能进入的位置提前进行预判和导引，有效解除用户倒车时的“后顾之忧”；而智能钥匙与一键启动系统则以人性化科技为用户带来了极大的便捷性。
                            | 作为一款德国工艺与领先科技完美结合的高性能A+级轿车，一汽-大众速腾自进入中国市场以来，凭借着强大的产品实力，备受广大消费者的喜爱和好评。其稳定飙高的月度销量，树立了其国内A级车高端市场的标杆地位。至今，速腾品牌已经赢得了超过86万忠实用户的喜爱。相信速腾2014款的上市，将会把A+级车的行业标准推向更高的水平，而全面升级的豪华配置和丰富的产品选择，无疑将为速腾2014款赢得更多消费者的青睐。
            .span2
                legend
                    img(src="img/icon_rocket.png")
                    | 促销信息
                ul.unstyled
                    li
                        a(href='#')
                legend
                    img(src="img/icon_rocket.png")
                    | 促销信息
                ul.unstyled
                    li
                        a(href='#')
