extends ../layout/mainFrame

block append css
    link(href='css/shop_list.css', rel='stylesheet', media='screen')
block append js
block append content
    .container(style='padding: 10px 0;')
        hr(style='margin: 0px 0px 17px;')
        .row-fluid
            .span10
                div(style="margin-bottom:30px")
                    h3.text-center(style="color:#444444;margin-top:30px") 战略、计划并行 一汽-大众成于“心”的沟通
                    //h4(style="color:#d90000;margin-top:10px;font-size:14px;line-height:24px") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  促销时间：2013.09.23-2013.09.30
                    h4(style="color:#444444;margin-top:10px;font-size:14px;line-height:24px") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  编者按：
                        | 有人说，中国汽车市场已经进入了微增长时代。的确，有的企业出现了负增长；有的企业经销商吵着要退网。但无论在哪个层面，不能完全说是产品力不够，或者营销网点数量少。但也有企业依然保持着两位数的增速，为什么同样的市场容得下这个品牌，却偏偏不给那个品牌机会？问题出在哪了？我们不妨通过一个成功案例来分析它是如何把控市场的。
                        | •一汽-大众用“双线”战略，以不同技术含量的汽车来满足不同消费层次的需求，同时以赛车品质勾勒出与竞品的本质区别；
                        | •一汽-大众用“两大计划”优化企业内部营销体系，与经销商共创双赢局面，确保销售市场高速发展。
                        | 全球范围，汽车行业成功的营销案例成千上万，而所有成功都有个共性关键点——成功的心灵沟通。小到一辆车的成交，大到营销战略设计与策略的实施，都离不开心灵的沟通。在中国汽车市场上，一汽-大众应当是颇具代表性的一个成功模板。
                        | 从2013年以来的销售数据来看，一汽-大众一直处于强势上升的态势。在刚刚过去的8月，一汽-大众终端销量达到130,544辆（其中VW品牌94,555辆，AUDI品牌35,989辆），环比增长7.32%，连续四个月问鼎国内乘用车市场销量榜首。有人据此预言，一汽-大众将有望夺得今年的销量冠军。为此，我们剖析了一汽-大众的营销战略，发现其增长态势与其注重“需求”是密不可分。或者说，是因为一汽-大众在消费者、经销商的“需求”上达成了最佳的心灵沟通，深度了解了他们的需求，达到共赢的结果。
                        | 从产品角度，一汽-大众顺应消费者需求的提升，利用“双线战略”将旗下众多产品分为标准款以及高性能版；在经销商层面，一汽-大众随着其2009年提出的两大计划的深入推行，不仅令经销商运营能力和企业内部营销能力有了显著提升，且拥有了更广泛的提升空间。当然，成功背后会有很多因素，但对于一汽-大众来讲，真正了解市场需要什么样的产品，懂得如何管理、经营与合作伙伴的关系，才是其造就今日强劲增长态势的主要原因。
                        | 双线战略——顺应消费的提升
                        | 十年前，中国汽车市场处于“井喷”状态，有人将这个时期的定义为汽车进入中国家庭的元年，或者开始进入家庭的时期；那么十年后的今天，中国则进入了理性、成熟消费的导入期。而成功的营销首先要顺应这个历史时期特有的规律展开，一汽-大众在这方面做得可圈可点。
                        | 这个时期消费的基本特征是，消费需求的多元化。即，购买第一辆车的消费者，更多地关心车的大小、排量的大小，要花最少的钱买到最大的车，甚至还以车辆作为身份的表征；而买第二辆、第三辆车的消费者则更注重品质、自身生活的追求，例如有的追求豪华，有的追求动感，有的追求节能，有的强调简约。针对这种多元化的消费趋势，一汽-大众顺势推出了双线战略，即在量产车上同时推出两种性格具有明显差异的产品，一种是符合大众需求的产品，另一种则是强调动感的、个性化的产品。
                        | 以高尔夫为例，既有广受公众欢迎的1.4TSI+DSG车型，又有配备2.0TSI+DSG的GTI。一个满足普通大众的需求，一个满足发烧友的需求。此外，速腾家族车型同样拥有包括标准版和高性能版GLI车型，不仅满足了商务、家庭的不同用车需求，GLI车型更是怀揣激情的精英男士们的最爱。不单是个性车型，家轿代表宝来亦是如此，除了标准款，宝来也向市场推出了其运动款宝来sportline。而CC就其品牌地位、车型属性、受众人群，均于奔驰C有所重叠，因此它绝不属于“普通大众型”轿车，或许可以这样表述，CC是接近C级车的“大众B级高性能品牌车型”。
                div(style="width:621px;height:478px;margin:0 auto")
                    img(style="margin-bottom:10px",src="img/adver/adver_10_01.png")
                        h4.text-center(style="color:#444444;margin-top:30px") 速腾家族车型同样拥有包括标准版和高性能版GLI车型，不仅满足了商务、家庭的不同用车需求，GLI车型更是怀揣激情的精英男士们的最爱
                div(style="margin-bottom:30px")
                    h4(style="color:#444444;margin-top:10px;font-size:14px;line-height:24px") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        | 每个车系都有一款顶尖的、个性化的车型，从产品特性上形成了两条线的概念。而尖端车型从销量数据上看，销量并不大，但以其赛车般的性能，诠释出一汽-大众打造的是原汁原味的德系车是高品质汽车、是安全的汽车，更是同一细分市场中最具高技术含量的汽车。
                div(style="width:621px;height:478px;margin:0 auto")
                    img(style="margin-bottom:10px",src="img/adver/adver_10_02.png")
                    h4.text-center(style="color:#444444;margin-top:30px") 就其品牌地位、车型属性、受众人群，CC可谓是接近C级车的“大众B级高性能品牌车型”
                div(style="margin-bottom:30px")
                    h4(style="color:#444444;margin-top:10px;font-size:14px;line-height:24px") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        | 换言之，一汽-大众是以不同技术含量的汽车来满足不同消费层次的需求，同时以赛车品质勾勒出与竞品的本质区别。这无论从产品结构还是从消费需求结构上看，都是符合金字塔原理的，也是顺应消费需求多元化特征的。有道是，得民心者的天下，一汽-大众顺应消费心理变化展开的双线战略，从宏观到微观、从企业到个人的各个层面，实现了与消费者心灵的沟通，无疑对提升销量有着巨大的推动作用。
                        |两大计划——授人与渔 共享双赢
                        |如果说双线产品战略是一汽-大众与消费者的一次“心”的沟通，那么“两大计划”则是一汽-大众与企业员工及经销商合作伙伴的一次“心灵”沟通。
                        |中国有句古话，叫做“授人与渔不若授人与渔”。说的是，给人鱼不如教会人家捕鱼。一汽-大众正是本着这种精神，通过帮助经销商提升经营质量，从而达到提升对用户的服务质量，进而推动了销量的增长。这种推动力恰是今年上半年一汽-大众增长的人为因素。
                        |“与单纯的销量提升相比，一汽-大众更在意旗下产品的品质口碑及终端渠道能力的长远规划。”一汽-大众销售公司总经理胡咏曾经如此表示。这句话转化成实际的工作正是一汽-大众近年来主推的“高质量销售”。在“高质量销售”方针的指引下，一汽-大众对市场环境、竞争态势，以及企业内部的一些问题进行了认真梳理，制定了两大提升计划，即：“经销商合作发展计划”和“销售公司体系能力提升计划”。经过几年来的市场检验，事实证明“两大计划”使大众品牌营销体系得到全面提升。
                        |其中，针对“经销商合作发展计划”，是一汽-大众“网络、产能、百万辆营销体系”三大任务的主线之一。其核心内容是，通过对经销商的培训和辅导，提高经销商的营销能力、服务能力，实现用户满意度的提升。而全国的经销商之所以支持该计划，原因在于，通过培训提高了经销商的运营效率、运营质量，经销商的资金周转率提高了，利润率提高了，使经销商的盈利能力大幅提升。同时，由于贯彻了全新的服务流程，用户的满意度也得到了提升，进而提高了一汽-大众网络整体的竞争实力。
                        |而“销售公司体系能力提升计划”，则主要围绕用户和市场研究、资源配给等八个核心领域，提升内部竞争力。除了完成产品策略的总体规划，大众品牌销售公司还统一制定了企业及各品牌市场、公关的宣传计划，确保对外步调一致、形象统一，提升一汽-大众品牌形象。
                        |随着一汽-大众产品销量的逐年攀升，经销商数量的飞速发展，大区对经销商一对一的服务、辅导工作量亦随之大增。为进一步打造和完善能够驾驭百万辆级的营销体系，更好地为经销商提供服务和政策支持，今年年初一汽-大众大众品牌对区域市场布局进行调整，将原来的四个大区增至六个大区，深入强化区域市场的精耕细作和对区域终端的支持力度，以实现强势市场的稳健发展和潜力市场的快速增长。
                        |在经销商合作伙伴的通力配合下，一汽-大众高质量销售和“两大计划”成果显著。正如一汽-大众销售有限责任公司总经理胡咏所说：“我们通过深入推进‘高质量销售’，根据细分市场发展趋势、市场份额和销售贡献，不断调整和深化以人、过程质量为导向的营销政策，鼓励高端产品销售，优化销售结构，持续提高销售与服务人员的资质与水平，不仅提升了客户满意度，也保证了整体销售状况的健康发展。只有这样才能使我们销售服务的水平、质量都得到进一步的提升，以确保我们每一个消费者都能得到满意的服务。
                        |编者总结：
                        |从产品战略、到营销体系建设再到区域布局，一汽-大众始终坚持以成为“高品质汽车的代名词”为目标，走出一条适合企业可持续发展的道路。今年9月底，一汽-大众布局南方市场的关键一环——佛山工厂的即将建成投产。届时一汽-大众不仅将进一步强化在南方市场的竞争优势，更将全面形成长春、成都、佛山“铁三角”的全国性战略布局。业内专家分析称，作为国内最成熟的汽车合资企业之一，一汽-大众拥有能够生产出最好产品的工厂和提供最好服务的经销商，正是基于此，一汽-大众必须持续推进“高质量销售”和“两大计划”，最终使“高品质汽车代名词”的印记牢牢刻在每一位用户的心中，并不断推动一汽-大众朝着成为中国最优秀的汽车合资企业的方向前进。
            .span2
                legend
                    img(src="img/icon_rocket.png")
                    | 促销信息
                ul.unstyled
                    li
                        a(href='#')

                legend
                    img(src="img/icon_rocket.png")
                    | 促销信息
                ul.unstyled
                    li
                        a(href='#')