extends ../layout/mainFrame
block append css
    link(href='css/shop_list.css', rel='stylesheet', media='screen')
block append js
block append content
    .container(style='padding: 10px 0;')
        hr(style='margin: 0px 0px 17px;')
        .row-fluid
            .span10
                div(style="margin-bottom:30px")
                    h3.text-center(style="color:#444444;margin-top:30px") 安全至上 属于速腾GLI的“速度与激情
                    h4(style="color:#444444;margin-top:10px;font-size:14px;line-height:24px")
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;“行车安全”是所有追求“速度与激情”驾驶者不容忽视的问题，而速腾GLI正是这样一款既追求“激情驾驭”又以“安全至上”的高级运动车型；
                        br
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;•速腾GLI拥有多项领先的安全科技装备，面对当下冬季湿滑的冰雪路面也能确保行车安全；
                        br
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;•一汽-大众速腾GLI，以至臻的安全品质，为你演绎永不谢幕的“速度与激情”。
                        br
                        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;对于《速度与激情》系列电影的无数粉丝来说，美国时间11月30日无疑是一个黑色的星期六——备受期待的“速激7”即将杀青，该系列影片的男主角保罗•沃克却于当日下午因车祸不幸去世。调查指出，超速是这次单车碰撞事故中的主要肇因。当无数汽车迷、电影迷为此深感遗憾与哀痛之际，“行车安全”也再次成为了所有追求“速度与激情”驾驶者不容忽视的问题。除了驾驶者需要以谨慎负责的态度行车以外，汽车本身的安全品质也至关重要。而一汽-大众速腾GLI，正是这样一款既追求“激情驾驭”又以安全至上的高级运动车型。
                        | 与同门兄弟“小钢炮”高尔夫GTI相比，更显稳重的身材与由内而外的那份责任感，可谓是速腾GLI的招牌。传承了大众汽车卓越的德系品质，速腾GLI 将主动安全与被动安全完美融合。
                        | 精密稳定的制造工艺，赋予了速腾GLI泰然坚固的安全车身，满足5星级碰撞安全标准；而多项领先的安全科技装备更将速腾GLI的安全性能提升至一个全新的高度。
                        | 无论面对平日良好的环境与路况，还是应对当下冬季湿滑的冰雪路面，速腾GLI都能助你从容释放激情。

                  div(style="width:621px;height:478px;margin:0 auto")
                        img(style="margin-bottom:10px",src="img/adver/adver_02_01.png")
                            h4.text-center(style="color:#444444;margin-top:30px") 传承大众汽车卓越的德系品质，速腾GLI 将主动安全与被动安全完美融合
                    div(style="margin-bottom:30px")
                        h4(style="color:#444444;margin-top:10px;font-size:14px;line-height:24px") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            | 搭载2.0T“强心脏”的速腾GLI拥有强大的动力单元，装备的ASR牵引力控制系统可以完美的控制动力输出，把加速性提升至最佳。
                            | 同时，ASR系统可以检测出驱动车轮是否打滑，如果输出动力过大，剧烈的烧胎并不利于提高加速性能，ASR系统便会及时介入，控制车轮在半滑半滚的状态下驱动速腾GLI。
                            | 在湿滑路面上，ASR系统可以使速腾GLI顺利完成冰雪路面的快速启动和加速，不仅能让驾驶者充分享受驾驶的乐趣，也切实提升了行车安全性。
                    div(style="width:621px;height:478px;margin:0 auto")
                        img(style="margin-bottom:10px",src="img/adver/adver_02_02.png")
                            h4.text-center(style="color:#444444;margin-top:30px") 搭载2.0T“强心脏”的速腾GLI拥有强大的动力单元，同时配备多重领先科技确保行车安全
                    //div(style="margin-bottom:30px")
                        h4(style="color:#444444;margin-top:10px;font-size:14px;line-height:24px") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            | 迈腾品牌秉承着德国大众汽车最优秀的产品基因，创领了国内B级车市场的豪华商务气质，成为商务轿车市场的尊崇典范。当然，仅有基因显然还是不够的，更需要丰富的科技装备与内饰点缀来布置，方能为迈腾品牌创造出高贵尊崇的氛围。采用了流畅而雅致的欧式风格设计，迈腾2013款年型的内饰从视觉上就带给人们华贵而优雅的感受。而在多款车型的内饰中，2013款迈腾还应用了IMD拉丝铝、桃木等装饰条，使整车由内而外的散发出豪华、商务的气质。当然，精致、豪华不仅体现在内饰设计上，在舒适性方面，迈腾2013款采用了上乘皮质为原料的真皮座椅、真皮方向盘，为乘客带来了高贵、惬意的乘用体验。搭配以新增的后排商务小桌板、全新后排空调控制面板等新配置来看，迈腾2013款年型足以为乘用者带来尊贵的用车体验，舒适豪华的乘用空间也令迈腾品牌的商务气质得以提升。
                    //div(style="width:621px;height:478px;margin:0 auto")
                        img(style="margin-bottom:10px",src="img/adver/adver_02_03.png")
                            h4.text-center(style="color:#444444;margin-top:30px") 采用了流畅而雅致的欧式设计，迈腾2013款年型的内饰从视觉上就带给人们华贵而优雅的感受
                    //div(style="margin-bottom:30px")
                        h4(style="color:#444444;margin-top:10px;font-size:14px;line-height:24px") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        |作为大众汽车品牌B级车的第七代产品，一汽-大众迈腾2013款年型无论是表面还是内在，无论是整体还是细节，都继承了德国大众汽车最纯正、最优秀的产品基因，事无巨细的追求卓越品质，将B级车的行业标准推向更高水平，最终成为中国B级车市场的领导者。此次迈腾2013款年型的商务配置升级，不仅令精英消费者们对“品质感、身份感”等属性的愈发追求与看重，更为一汽-大众迈腾般能够为消费者创造更加舒适豪华的驾乘空间，带来尊贵的用车体验做出了提升。作为一款B级豪华商务座驾而言，迈腾2013款年型在豪华设计和商务配置的应用上，都重新定义B级车的新标准。
            .span2
                legend
                    img(src="img/icon_rocket.png")
                    | 促销信息
                ul.unstyled
                    li
                        a(href='#')

                legend
                    img(src="img/icon_rocket.png")
                    | 促销信息
                ul.unstyled
                    li
                        a(href='#')
