extends ../layout/mainFrame

block append css
    link(href='css/shop_list.css', rel='stylesheet', media='screen')
block append js
block append content
    .container(style='padding: 10px 0;')
        hr(style='margin: 0px 0px 17px;')
        .row-fluid
            .span10
                div(style="margin-bottom:30px")
                    h3.text-center(style="color:#444444;margin-top:30px") 优雅如影随形 新CC从容展现完美舒适
                    //h4(style="color:#d90000;margin-top:10px;font-size:14px;line-height:24px") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  促销时间：2013.09.23-2013.09.30
                    h4(style="color:#444444;margin-top:10px;font-size:14px;line-height:24px") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  • 回首不久前的新CC上市盛典，著名芭蕾表演艺术家侯宏澜为之献上一段唯美芭蕾；
                        | • 新CC来说，以其完美的设计与舒适性，将“优雅”的感受带入生活；
                        | • 与新CC相伴，生活也将随之变得优雅从容，它将能帮你展现更加完美的自己。
                        | “每个人都可以成为主角，因为人生的脚本由自己撰写，但每一幕都是现场直播，无法NG。当我展开舞蹈的翅膀，那一刻，我就是在演绎最完美的自己。每一次完美的谢幕，都不过是另一段优雅的开场。”——侯宏澜
                        | 回首不久前的新CC上市盛典，当国际著名芭蕾表演艺术家侯宏澜带着一段唯美的芭蕾舞蹈现身舞台，芭蕾与汽车这两种原本并无关联的事物却因对“极致优雅”的追求而结缘。在进入中国汽车市场的三年时光中，一汽-大众CC正是凭借着它的优雅之美开辟出一个独特的细分市场，俘获了超过11万精英消费者的心。而今，新CC已经盛装上市，一段全新的优雅也正在上演。
                    div(style="width:621px;height:478px;margin:0 auto")
                        img(style="margin-bottom:10px",src="img/adver/adver_08_01.png")
                        h4.text-center(style="color:#444444;margin-top:30px") 一汽-大众新CC，极致优雅如影随形
                div(style="margin-bottom:30px")
                    h4(style="color:#444444;margin-top:10px;font-size:14px;line-height:24px") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        | 对于一名芭蕾舞者来说，“优雅”是聚光灯下的唯美艺术，在既定的音乐与动作下，用内心的感悟舞出自我的风采；“优雅”亦是一种对待生命的态度，用高尚的情怀，选择最舒适、幸福的生活方式。而对于一汽-大众新CC来说，“优雅”就像是熔铸进车身中的灵魂，由内而外，如影随形，它以完美座驾的身份，将“优雅”的感受带入生活。
                        | 优美流畅的曲线，精致大气的面孔，在车水马龙的街头蓦然回首，一汽-大众新CC的优雅总是让人惊艳。而那份整车自然散发出的从容，则源自于驾乘者悠然宁静的心情与状态。不仅仅是外形，新CC的内饰也更为豪华，充满科技品质感。采用了大众汽车最新的人机工程学设计诉求，丰富的人性化设计带来了舒适贴心的驾驶感受。宽敞的内部空间，棕色、黑白双色真皮质感的内饰，以及丰富金属饰条，加之丹拿音响等一系列国际顶级装备，新CC的驾乘环境不仅拥有豪华轿车的舒适与更兼具了跑车的时尚精致。
                        | 也正是这份精致与细腻，征服了如侯宏澜般艺术家的追求细节完美的眼光。“我觉得生活里的细节和在舞台是一样非常重要的。我很欣赏新CC的音响，它在车内为我营造了一个如同在舞台上的音乐空间，同时新CC特有的静音效果，又能带给我内心的平静。在经历了艰苦的训练之后，我觉得能享受到舒适，是让我放松和最舒服的那一刻。”谈及驾驶新CC的感受，侯宏澜的笑容里写满了温馨。
                        | 此外， 车道保持、变道辅助、辅助动态灯光照明系统以及Easy open开启后备箱功能等众多领先科技的应用，也为优雅豪华的新CC带来了强大的安全性和实用性，让驾驶生活更加随性舒心。
                        | “心蕴优雅，瞬绽光华”，当与新CC相伴，生活也将随之变得优雅从容，它就是拥有这样的魔力，帮你展现更加完美的自己。
            .span2
                legend
                    img(src="img/icon_rocket.png")
                    | 促销信息
                ul.unstyled
                    li
                        a(href='#')
                legend
                    img(src="img/icon_rocket.png")
                    | 促销信息
                ul.unstyled
                    li
                        a(href='#')