extends ../layout/mainFrame

block append css
    link(href='css/shop_list.css', rel='stylesheet', media='screen')
block append js
block append content
    .container(style='padding: 10px 0;')
        hr(style='margin: 0px 0px 17px;')
        .row-fluid
            .span10
                div(style="margin-bottom:30px")
                    h3.text-center(style="color:#444444;margin-top:30px") 家用轿车的首选 一汽-大众全新宝来半年销107282台
                    //h4(style="color:#d90000;margin-top:10px;font-size:14px;line-height:24px") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  促销时间：2013.09.23-2013.09.30
                    h4(style="color:#444444;margin-top:10px;font-size:14px;line-height:24px") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; •一汽-大众全新宝来在2013年上半年累计销量达到107282台，成为消费者的首选家用轿车；
                        | •强大的产品力与品牌力是支撑全新宝来销量高涨的重要因素。
                        | 根据中国汽车市场的销量数据显示，一汽-大众全新宝来车型在2013年上半年的销量累计达到了107282台，名列中国A级车市场前茅，成为消费者的首选家用轿车。
                        | 宝来品牌是一汽-大众继捷达品牌之后投产的第二个品牌，迄今已经走过十二个年头。十二年来，宝来不断升级，去年年底上市的全新宝来，不仅融汇了中德双方工程师的心血，更充分展示了一汽-大众的自主研发能力，是一汽-大众坚持打造“高品质汽车代名词”的又一杰出代表。
                div(style="width:621px;height:478px;margin:0 auto")
                    img(style="margin-bottom:10px",src="img/adver/adver_03_01.png")
                        h4.text-center(style="color:#444444;margin-top:30px") 全新宝来一直以强劲动力、完美操控、前沿设计以及贴心关怀为诉求，一次又一次的刷新了中国A级轿车标准
                div(style="margin-bottom:30px")
                    h4(style="color:#444444;margin-top:10px;font-size:14px;line-height:24px") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        | 全新宝来的销量火爆，不仅仅是一汽-大众在销售领域的成功，其强大的产品力与品牌力的有力支撑，也是促成全新宝来销量高涨的主要因素。作为一款家用A级车而言，全新宝来为消费者带来了更为人性化的人机工程学设计，以及丰富的科技型配置应用，不仅营造了美好的视觉空间，更兼顾了舒适乘用体验，提升了全新宝来的乘用乐趣。除此之外，全新宝来搭载的1.6L和1.4TSI发动机，完美融合了澎湃动力与驾控乐趣，将“充满驾乘乐趣的高品质轿车”的定位展现得淋漓尽致。
                div(style="width:621px;height:478px;margin:0 auto")
                    img(style="margin-bottom:10px",src="img/adver/adver_03_02.png")
                        h4.text-center(style="color:#444444;margin-top:30px") 电动可调外后视镜集成LED侧转向灯
                div(style="margin-bottom:30px")
                    h4(style="color:#444444;margin-top:10px;font-size:14px;line-height:24px") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        | 依靠着人性化的设计以及丰富的科技型配置，全新宝来进一步巩固了以消费者需求为目标的出发点，树立了A级轿车的典范，同时也刷新了中国A级轿车市场的标准。环顾中国A级车市场，全新宝来一直以高品质、强劲动力、完美操控、前沿设计以及贴心关怀为诉求，一次又一次的刷新了中国A级轿车标准，证明了一汽-大众一直在为中国消费者制造高品质轿车而努力。
                        | 作为A级车市场中的经典之作，全新宝来的销量数据与累计超过百万的庞大用户群体不无关系，在品牌口碑与大众造车的理念下，全新宝来必将会延续品牌辉煌，在为市场注入活力的同时，更将为一汽-大众赢得更多的市场份额及广泛赞誉。
            .span2
                legend
                    img(src="img/icon_rocket.png")
                    | 促销信息
                ul.unstyled
                    li
                        a(href='#')
                legend
                    img(src="img/icon_rocket.png")
                    | 促销信息
                ul.unstyled
                    li
                        a(href='#')