extends ../layout/mainFrame
block append css
    link(href='css/shop_list.css', rel='stylesheet', media='screen')
block append js
block append content
    .container(style='padding: 10px 0;')
        hr(style='margin: 0px 0px 17px;')
        .row-fluid
            .span10
                div(style="margin-bottom:30px")
                    h3.text-center(style="color:#444444;margin-top:30px") Design an Icon——剖析全新高尔夫造车理念
                    h4(style="color:#444444;margin-top:10px;font-size:14px;line-height:24px") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; •在五大设计原则的指引下，全新高尔夫向我们展示了全新一代大众汽车的先进造车宗旨——Design an Icon；
                        | •全新高尔夫以自身对“Simple”、“Product”、“Universal”、“Sympathy”、“Iconic”五大设计原则进行了内涵丰富的阐释；
                        | •一汽-大众全新高尔夫的到来，将赢得更多消费者的喜爱，使高尔夫的品牌符号，在中国乃至世界汽车历史上更加鲜明夺目。
                        | 近日，全新高尔夫已在佛山工厂正式下线。与第七代高尔夫海外上市时隔一年，这款让众多车迷翘首企盼的车型，终于被一汽-大众引入中国。作为大众汽车品牌最好的诠释者，高尔夫不仅在造型上引领着每一代大众车，更代表着大众汽车最先进的造车理念。此番，全新高尔夫的到来，正是在“Simple”、“Product”、“Universal”、“Sympathy”、“Iconic”五大设计原则的指引下，向我们展示了全新一代大众汽车的先进造车宗旨——Design an Icon。
                        | 作为第一项原则——“Simple”无疑对全新高尔夫的外观造型，产生了重要的指导意义。传承了历代高尔夫车型的设计精髓，全新高尔夫以简洁精炼线条，勾勒出倍加时尚、动感、硬朗的车身造型。加长的轴距和更短的前悬，赋予全新高尔夫更具动感的车身比例；创新的车顶轮廓特征线，构造出一个极具视觉冲击力的削面，充分塑造出全新高尔夫的刚劲气质。首尾呼应的镀铬线条，简洁一笔却使整车外观更加精致大气。而形如满弓的尾部造型，更为全新高尔夫增提了一抹蓄势待发的动感。此外，全新的大灯、雾灯、尾灯造型，也在“Simple”之中完美的契合了整车硬朗动感的造型风格。
                div(style="width:621px;height:478px;margin:0 auto")
                    img(style="margin-bottom:10px",src="img/adver/adver_01_01.png")
                        h4.text-center(style="color:#444444;margin-top:30px") 简洁精炼线条、首尾呼应的设计，使全新高尔夫更加精致大气
                div(style="margin-bottom:30px")
                    h4(style="color:#444444;margin-top:10px;font-size:14px;line-height:24px") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    | 如果说“Simple”原则指导了全新高尔夫的外在，那么“Product”则是它内在修行的根本所在。没有任何浮夸的心思，高尔夫自第一代车型诞生以来就以诸多实用的创新科技成为了同级别车的领袖。当然，身为第七代产品的全新高尔夫也不例外。从用户的实际体验与感受出发，从内饰设计到科技装备，全新高尔夫实现了动力操控性、舒适安全性，以及豪华科技性的全面更新与进化，众多越级的创新科技装备也将首次成为A级两厢车的标配。全新高尔夫，无愧为“集德国大众技术之大成”之杰作。
                    | 作为全新高尔夫造车的第三个原则，“Universal”似乎已经贯彻了整整39年，与其说是原则，不如说是一种坚持为消费者提供优质普及型轿车的执着态度。在“Universal”思想的引导下，每一代高尔夫都拥有非凡的性价比，驾驶和喜爱它的人遍布了社会的各个阶层。它是无数家庭的挚爱之选，亦让贝克汉姆、奥兰多•布卢姆追捧，甚至获得德国总理乃至罗马教皇的喜爱。如此“跨界”的市场表现，唯有高尔夫才能轻而易举的做到。同样“Universal”也将深深的影响着全新高尔夫，从品质到价格，它都无疑将是一款适合更多不同背景、不同职业、不同个性消费者的优质普及型车。
                div(style="width:621px;height:478px;margin:0 auto")
                    img(style="margin-bottom:10px",src="img/adver/adver_01_02.png")
                        h4.text-center(style="color:#444444;margin-top:30px") 历经39年发展，高尔夫已经成为无数家庭的挚爱之选，而全新高尔夫从品质到价格，也将成为一款适合更多不同背景、不同职业、不同个性消费者的优质普及型车
                div(style="margin-bottom:30px")
                    h4(style="color:#444444;margin-top:10px;font-size:14px;line-height:24px") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        | “Sympathy”是全新高尔夫造车的第四大原则，将一直以来高尔夫的积极阳光、充满活力、值得信赖的精神与灵魂融汇其中，力求与消费者产生从产品需要到精神层面的共鸣。也正是这样的高尔夫精神，吸引了那样一群关注品质、信赖品牌、追求与众不同、崇尚实用性与灵活驾驶的精英消费者们的目光。在心灵的共鸣之中，他们加入到高尔夫族的行列之中，用鲜活而真实的汽车生活故事，使高尔夫文化进一步扩散、升华。
                div(style="width:621px;height:478px;margin:0 auto")
                    img(style="margin-bottom:10px",src="img/adver/adver_01_03.png")
                        h4.text-center(style="color:#444444;margin-top:30px") 39年来，高尔夫已经创下销售超越3000万辆，它已经成为一个鲜明的符号，刻印在世界两厢车历史上和万千高尔夫族的心中这样的成就也正暗合了全新高尔夫先进的造车理念——Design an Icon。相信，一汽-大众全新高尔夫的到来，将会以令人一见倾心的经典设计和超高的品质标准，赢得更多消费者的喜爱，继续推动并引领中国两厢车的发展潮流。使高尔夫的品牌符号，在中国乃至世界汽车历史上更加鲜明夺目。
            .span2
                legend
                    img(src="img/icon_rocket.png")
                    | 促销信息
                ul.unstyled
                    li
                        a(href='#')

                legend
                    img(src="img/icon_rocket.png")
                    | 促销信息
                ul.unstyled
                    li
                        a(href='#')