

li h5{
    color:#888888;
    font-size: 14px;
}

legend{
    margin-top: 20px;
    font-size:15px;
    color:#777777;
    margin-bottom: 0px;
}

td{
    color: #777777;
}

th{
    color: #666666;
}
.thumbnail{
    padding:5px;
    width:85px;
    height:63.75px;
}
.thumbnail:hover {
    padding: 5px;
    background-color: #FFFFFF;
}

.span3 h5{
    color: #4083a9;
    margin-bottom: 5px;
}

.span3 ul{
    margin-bottom: 0;
}

tr th{
    height:30px;
    background-color: #e6e6e6;
    font-size: 14px;
}

#shopStockTr td{
    /*height:60px;*/
    font-size: 12px;
    padding: 24px 8px;
    background: #f8f8f8;
}

th p{
    margin:5px 8px;
}

td p{
    margin: 20px 8px;
}

.table th, .table td {
    padding: 0px;
}

#list{
    margin-bottom: 0;
}

.shopStockTr td{
    background-color: #e6e6e6;
    font-size: 14px;
    padding: 12px 8px;
}