

li h5{
    color:#888888;
    font-size: 14px;
}

legend{
    margin-top: 20px;
    font-size:15px;
    color:#777777;
    margin-bottom: 0;
}

td{
    color: #777777;
}

th{
    color: #666666;
}
.thumbnail{
    padding:5px;
    width:85px;
    height:63.75px;
}
.thumbnail:hover {
    padding: 5px;
    background-color: #FFFFFF;
}

.span3 h5{
    color: #4083a9;
    margin-bottom: 5px;
}

.span3 ul{
    margin-bottom: 0;
}

tr th{
    height:30px;
    background-color: #e6e6e6;
    font-size: 14px;
}

#shopStockTr td{
    /*height:60px;*/
    font-size: 12px;
    padding: 20px 8px;
}

#shopStockTr{
    background-color: #f8f8f8;
}

th p{
    margin:5px 8px;
}

.table th, .table td {
    padding: 0px;
    border-top: 0;
    border-bottom: 1px solid #ddd;
}

#list{
    margin-bottom: 0;
}

.shopStockTr td{
    background-color: #e6e6e6;
    font-size: 12px;
    padding: 12px 8px;
}

.detail td{
    border:0;
    padding: 0 8px;
}

/*#firstTd{*/
    /*font-size: 14px;*/
    /*background: url(../img/cornerBand.png) top left no-repeat;*/
/*}*/