/* Custom container */
.container {
    margin: 0 auto;
    max-width: 960px;
}
.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 0px;
    border-top: 1px solid #E5E5E5;
    background-color: whiteSmoke;
}

a {
    color: #999999;
}

b {
    color:#0088cc;
}

body {
    background-color: #F0F0F0;
    color: #333333;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
}

element.style {
    margin: 0 0 17px;
    color: #999999;
}
h1, h2, h3, h4, h5, h6 {
    color: #999999;
    font-weight: bold;
    line-height: 20px;
    margin: 0;
    text-rendering: optimizelegibility;
}

.thumbnail{
    background-color: #FFFFFF;
    border-color: #ffffff;
    width: 220;
    height: 190;
    padding: 10px;
    padding-bottom: 0;
    border: 0px;
}

.thumbnail:hover{
    padding:10px;
    padding-bottom: 0;
    background-color: #FFFFFF;
}

.thumbnail .caption {
    color: #555555;
    padding: 0px;
}

p {
    margin: 0 0 0px;
}

.dropdown-menu > li >a:hover,
.dropdown-menu>li>a:focus,
.dropdown-submenu:hover >li>a,
.dropdown-submenu:focus > a{
    background-color: #444444;
    background-image:linear-gradient(to bottom,#666666,#666666);
}

.dropdown-menu {
    background-color: #444444;
}

.dropdown-menu > li > a {
    color: #ffffff;
}

strong {
    color: #444444;
}

li h5{
    font-weight: bold;
    color: #4083A9;
    margin: 10px 0 0;
    max-height: 16px;
    /*padding: 0 0 0 10px;*/
}

#bottomh4{
    color:#444444;
    margin:10px 0;
    font-size: 14px;
}

.alpha1{
    color: rgba(255, 255, 255, 0.85);
}

a.thumbnail:hover, a.thumbnail:focus {
    box-shadow: 0 1px 4px rgba(64, 131, 169, 0.5);
}

#footer h5{
    color: #555555;
}

#slider_div_1{ position:relative; width:100%;}
#slider_div_1 .pagination_p{ background:url('../img/banner_down_bg.png') repeat-x; width:100%;  height:35px; position:absolute; bottom:0;z-index:99;}
#slider_div_1 .pagination_p ul { width:961px; margin:auto;}
#slider_div_1 .pagination_p ul li { float:left; width:190px; margin-right:1px; color:#fff; text-align:center; border-left:1px solid #fff; font-size:14px;}
#slider_div_1 .pagination_p ul li a{ width:190px; height:25px; padding-top:10px; display:block; color:#fff;font-size:14px;text-decoration:none;}
#slider_div_1 .pagination_p ul li a:hover{width:190px; height:25px; padding-top:10px; background-color:#111716; color:#fff; display:block;font-size:14px;text-decoration:none;}
#slider_div_1 .pagination_p ul li.current{width:190px; height:35px; display:block;background-color:#111716; }
#slider_div_1{
    padding: 1px 0px;
    margin-top:0px;
}
.slides_container{
    width:100%;
    height:528px;
    overflow:hidden;
}
.bitter_txt {
    position:absolute;
}
.Limg2{
    display:none;
}

#toptab{
    border-bottom: 1px solid #666666;
}


.btngroupLite>li {
    margin-bottom: 0;
    margin-left: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
    box-shadow: 0 1px 2px rgba(0,0,0,0.05);
    float: left;
}

.btngroupLite > li >a{
    float: left;
    padding: 2px 10px;
    line-height: 20px;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
    border-left-width: 0px;
    font-size: 11.9px;
}
.btngroupLite>li:last-child >a {
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
}
.btngroupLite>li:first-child >a {
    border-left-width: 1px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-topleft: 3px;
}
.btn-lite {
    color: #999999;
    cursor: pointer;
    border-color: transparent;
    background-color: transparent;
    background-image: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.icon-lite-up{
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-top: 1px;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url("../img/arrowup.png");
}

.icon-lite-down{
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-top: 1px;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url("../img/arrowdown.png");
}

#cheap{
    background-image:url("../img/cheapBackground.png");
}

#focus{
    margin-top: 25px;
    background-image:url("../img/cheapBackground.png");
}

#cheap h5{
    color:#ffffff;
}

#focus h5{
    color:#ffffff;
}

h5{
    font-size: 13px;
}















