.media-object{
    width: 210px;
    height: 172px;
    margin-right: 10px;
}



[name=imgdiv]{
    width: 210px;
    height: 172px;
    /*padding: 5px;*/
    /*margin: 2px 10px 0 0;*/
    background-color: #ffffff;
    /*border-radius: 2px;*/
    position: absolute;
}

.pull-left .media-object{
    width: 160px;
    height: 160px;
    margin-top: 7px;
    border-radius: 2px;
}

.unstyled>li>a{
    font-size: 16px;
}

.media>.pull-right{
    margin-left: 0;
}

.media-body h5{
    padding-left: 0;
    color:#4083A9;
    font-size: 18px;
}

.media-body h6{
    font-size: 16px;
}



#detailNum{
    padding:10px 0 0 15px;
}

.media-body{
    width: 312px;
    padding-top: 88px;
}

.span2 li{
    font-size: 12px;
}

.span2 legend{
    font-size: 14px;
    margin-bottom: 5px;
}

.media{
    margin-top: 0;
    margin-bottom: 20px;
}


a:hover, a:focus {
    color: #777777;
    text-decoration: none;
}

legend{
    color: #777777;
    font-weight: bold;
}
legend img{
    width: 18px;
    padding-right: 5px;
}