extends layout/mainFrame

block append css
  link(href='css/shop_list.css', rel='stylesheet', media='screen')

block append js

block append content
  .container(style='padding: 10px 0;')
    hr(style='margin: 0px 0px 17px;')
    .row-fluid
      .span10
        div(style="margin-bottom:30px")
          h3.text-center(style="color:#444444;margin-top:30px") 一汽-大众CC少量现车 最高优惠0.2万元
          h4(style="color:#d90000;margin-top:10px;font-size:14px;line-height:24px") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  促销时间：2013.09.23-2013.09.30
          h4(style="color:#444444;margin-top:10px;font-size:14px;line-height:24px") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  近日，中基甬耀店内一汽-大众CC现车销售，颜色可选，目前购车部分车型
            | 最高可优惠0.2万元，感兴趣的朋友可以到店咨询或咨询销售热线：83876099,
            | 87506888购买，如遇变动以展厅销售为准
        div(style="width:621px;height:478px;margin:0 auto")
          img(style="margin-bottom:10px",src="img/adver/Snip20131018_2.png")
        div(style="width:621px;margin:0 auto")
          img(style="margin-bottom:10px",src="img/adver/cc1.jpg")
          img(style="margin-bottom:10px",src="img/adver/cc2.jpg")
          img(style="margin-bottom:10px",src="img/adver/cc3.jpg")
          img(style="margin-bottom:10px",src="img/adver/cc4.jpg")
          h4(style="color:#d90000;margin-top:10px;font-size:14px;line-height:24px") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            | 以上为车型资料信息，本店提供了很多附加增值性服务，感兴趣的朋友欢迎咨询本店资讯详细信息。
      .span2
        legend
          img(src="img/icon_rocket.png")
          | 促销信息
        ul.unstyled
          li
            a(href='#') 进口大众尚酷23万元起 6月10日有活动
          li
            a(href='#') 进口大众尚酷23万元起 6月10日有活动
          li
            a(href='#') 进口大众尚酷23万元起 6月10日有活动
          li
            a(href='#') 进口大众尚酷23万元起 6月10日有活动

        legend
          img(src="img/icon_rocket.png")
          | 促销信息
        ul.unstyled
          li
            a(href='#') 进口大众尚酷23万元起 6月10日有活动
          li
            a(href='#') 进口大众尚酷23万元起 6月10日有活动
          li
            a(href='#') 进口大众尚酷23万元起 6月10日有活动
          li
            a(href='#') 进口大众尚酷23万元起 6月10日有活动