extends layout/mainFrame

block append css
  link(href='css/shop_list.css', rel='stylesheet', media='screen')

block append js

block append content
  .container(style='padding: 10px 0;')
    div(style="margin:0 auto;width:800px")
      h4.text-center(style="color:#444444;margin:30px 0 30px 0;font-size:30px") 关于梯卡汽车网
      h5(style="color:#444444;margin-top:10px;font-size:16px;line-height:24px") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  梯卡汽车网立于2013年6月，致力于推动汽车行业的网络化营销的进程，为客户带来实惠便捷的购车体验，为经销商带来更多的潜在客户，成为重要的集客渠道。
      h5(style="color:#444444;margin-top:10px;font-size:16px;line-height:24px") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  梯卡汽车网致力于成为中国最值得信赖的汽车互联网服务平台——为汽车消费者提供贯穿选车、买车、用车、置换所有环节的全面、准确、快捷的一站式服务，致力于以传媒和互联网的力量，整合汽车行业全产业链的内容与服务，提升汽车消费者的生活品质，改变中国人的汽车生活。
      h5(style="color:#444444;margin-top:10px;font-size:16px;line-height:24px") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  梯卡汽车网：http://www.teecar.com.cn