extends layout/mainFrame

block append css
  link(href='css/index.css', rel='stylesheet', media='screen')
  link(rel="stylesheet",href="css/jquery.simplyscroll.css",media="all",type="text/css")
block append js
  script(type="text/javascript",src="js/jquery.simplyscroll.min.js")
  

block append content
  .container(style='padding: 65px 0px;')
    .row-fluid
        .span9
          .row-fluid
            //
               汽车图片 
            h4(style='color: #4083A9;')
              | 一汽大众
              h4 速腾
            .span7(style='margin: 0px; height: 340px; width: 440px;')
              #myCarousel.carousel.slide
                //
                   Carousel items 
                .carousel-inner
                  .active.item
                    img(src='img/car1.jpg')
                  .item
                    img(src='img/car2.jpg')
                  .item
                    img(src='img/car3.jpg')
                  .item
                    img(src='img/car4.jpg')
                //
                   Carousel nav 
                a.carousel-control.left(href='#myCarousel', data-slide='prev') ‹
                a.carousel-control.right(href='#myCarousel', data-slide='next') ›
                //
                        <ol class="carousel-indicators">
                //
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                //
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                //
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                //
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                //
                        </ol>
            //
               汽车详情 
            .span4
              //
                <br/>
              ul.nav.nav-tabs.nav-stacked.padding12px
                li 市场价：13.18万 ～ 22.58万
                li 网站价：12.18万 ～ 20.58万
                li 排量：1.6L 1.4T 1.8T 2.0T
                li 颜色：红 蓝 黑
              //
                <img src="img/chart.png">
          //
             库存列表 
          //
            <legend>库存列表</legend>
          br
          table.table
            thead
              tr
                th 品种
                th 价格范围
                th 库存数量
            tbody
              tr(style='cursor: pointer;', onclick='$(body).animate({scrollTop: $(this).offset().top-80},1000);$(\'#tr2\').fadeToggle();')
                td 1.6L 自然呼吸 105马力
                td 12.18万 ～ 14.68万
                td 12
                td
                  i.icon-chevron-right
              tr#tr2(style='display: none; background-color: rgb(210,210,200);')
                td(colspan='3')
                  select.span2.btn-small
                    option 车型
                    option 手动时尚型
                    option 自动时尚型
                    option 手动豪华型
                    option 自动豪华型
                  select.span2.btn-small
                    option 外观颜色
                    option 红色
                    option 蓝色
                    option 黑色
                    option 白色
                  select.span2.btn-small
                    option 内饰颜色
                    option 黑色
                    option 黄色
                                  
                  .well
                    a(href='./shopinfo.html')
                      h4 一汽大众宁波兴宁达众汽车销售服务有限公司
                    table.table(style='background-color: inherit;')
                      thead
                        tr
                          th 车型
                          th 变速箱
                          th 发动机
                          th 外观颜色
                          th 内饰颜色
                          th 库存
                          th 价格
                      tbody
                        tr
                          td
                            b 速腾 2012款 1.6L 手动时尚型
                          td 5档手动
                          td 1.6L 105马力 L4
                          td 黑色
                          td 黄色
                          td 8
                          td(width='110px')
                            span(style='color: #ec6197; font-size: 20pt;') 12.18万
                        tr
                          td(colspan='6')
                            h5 附赠信息：送进口贴膜，2年免费维护以及100公里油卡
                          td(colspan='6')
                            input.btn.pull-right(data-toggle='modal', data-target='#myModal', type='button', value='预定')
                  .well
                    a(href='./shopinfo.html')
                      h4 一汽大众宁波兴宁达众汽车销售服务有限公司
                    table.table(style='background-color: inherit;')
                      thead
                        tr
                          th 车型
                          th 变速箱
                          th 发动机
                          th 外观颜色
                          th 内饰颜色
                          th 库存
                          th 价格
                      tbody
                        tr
                          td
                            b 速腾 2012款 1.6L 手动时尚型
                          td 5档手动
                          td 1.6L 105马力 L4
                          td 黑色
                          td 黄色
                          td 8
                          td(width='110px')
                            span(style='color: #ec6197; font-size: 20pt;') 12.18万
                        tr
                          td(colspan='6')
                            h5 附赠信息：送进口贴膜，2年免费维护以及100公里油卡
                          td(colspan='6')
                            input.btn.pull-right(data-toggle='modal', data-target='#myModal', type='button', value='预定')
                  .well
                    a(href='./shopinfo.html')
                      h4 一汽大众宁波兴宁达众汽车销售服务有限公司
                    table.table(style='background-color: inherit;')
                      thead
                        tr
                          th 车型
                          th 变速箱
                          th 发动机
                          th 外观颜色
                          th 内饰颜色
                          th 库存
                          th 价格
                      tbody
                        tr
                          td
                            b 速腾 2012款 1.6L 手动时尚型
                          td 5档手动
                          td 1.6L 105马力 L4
                          td 黑色
                          td 黄色
                          td 8
                          td(width='110px')
                            span(style='color: #ec6197; font-size: 20pt;') 12.18万
                        tr
                          td(colspan='6')
                            h5 附赠信息：送进口贴膜，2年免费维护以及100公里油卡
                          td(colspan='6')
                            input.btn.pull-right(data-toggle='modal', data-target='#myModal', type='button', value='预定')
              tr(style='cursor: pointer;', onclick='$(body).animate({scrollTop: $(this).offset().top-80},1000);$(\'#tr2\').fadeToggle();')
                td 1.4T 涡轮增压 131马力
                td 14.18万 ～ 17.78万
                td 10
                td
                  i.icon-chevron-right
              tr(style='cursor: pointer;', onclick='$(body).animate({scrollTop: $(this).offset().top-80},1000);$(\'#tr2\').fadeToggle();')
                td 1.8T 涡轮增压 160马力
                td 18.58万 ～ 19.58万
                td 0
                td
                  i.icon-chevron-right
              tr(style='cursor: pointer;', onclick='$(body).animate({scrollTop: $(this).offset().top-80},1000);$(\'#tr2\').fadeToggle();')
                td 2.0T 涡轮增压 200马力
                td 22.58万 ～ 22.58万
                td 2
                td
                  i.icon-chevron-right
        .span3
          //
             相关其他车辆 
          legend
            h5 相关车型
          ul.thumbnails
            li.span6(style='')
              a.thumbnail
                img#img1(data-src='holder.js/210x140', alt='210x140', style='width: auto; height: auto;', src='img/car.jpg')
            li.span6(style='')
              a.thumbnail
                img#img1(data-src='holder.js/210x140', alt='210x140', style='width: auto; height: auto;', src='img/car.jpg')
          ul.thumbnails
            li.span6(style='')
              a.thumbnail
                img#img1(data-src='holder.js/210x140', alt='210x140', style='width: auto; height: auto;', src='img/car.jpg')
            li.span6(style='')
              a.thumbnail
                img#img1(data-src='holder.js/210x140', alt='210x140', style='width: auto; height: auto;', src='img/car.jpg')
          legend
            h5 4s店其他车型
          ul.thumbnails
            li.span6(style='')
              a.thumbnail
                img#img1(data-src='holder.js/210x140', alt='210x140', style='width: auto; height: auto;', src='img/car.jpg')
            li.span6(style='')
              a.thumbnail
                img#img1(data-src='holder.js/210x140', alt='210x140', style='width: auto; height: auto;', src='img/car.jpg')
          ul.thumbnails
            li.span6(style='')
              a.thumbnail
                img#img1(data-src='holder.js/210x140', alt='210x140', style='width: auto; height: auto;', src='img/car.jpg')
            li.span6(style='')
              a.thumbnail
                img#img1(data-src='holder.js/210x140', alt='210x140', style='width: auto; height: auto;', src='img/car.jpg')
    #myModal.modal.hide.fade(style='left: 40%; width: 750px;')
      .modal-body(style='border-radius: 4px 4px 4px 4px;')
        ul.thumbnails(style='margin-left: 0px; margin-bottom: 0px;')
          li.span3(style='background-color: #ec6197; width: 250px; margin-left: 0px; margin-bottom: 0px;')
            div(style='height: 200px; margin: 20px;')
              h3(style='color: #ffffff;') 网站指导价购买
              p(style='color: #ffffff;') 进行订金的支付，即可预定该车。。。。。。
            //
              <p><a href="order_car.html" class="btn btn-primary pull-right">进入</a></p>
          li.span3(style='background-color: #888888; width: 250px; margin-left: 0px; margin-bottom: 0px;')
            div(style='height: 200px; margin: 20px;')
              h3(style='color: #ffffff;') 提交我的价格
              p(style='color: #ffffff;') 提交我理想的价格，如果有4s店有合适的活动会主动联系您。。。。。。
            //
              <p><a href="submit_price.html" class="btn btn-primary pull-right">进入</a></p>
          li.span3(style='background-color: #4083a9; width: 250px; margin-left: 0px; margin-bottom: 0px;')
            div(style='height: 200px; margin: 20px;')
              h3(style='color: #ffffff;') 优惠500元购买
              p(style='color: #ffffff;') 领取优惠券，在谈好价格的基础上出示可以直接抵用现金。
            //
              <p><a href="off_price.html" class="btn btn-primary pull-right">进入</a></p>
    script
      $('.carousel').carousel();
      $('td input').tooltip();
