extends layout/mainFrame
block append css
  link(href='css/index.css', rel='stylesheet', media='screen')
  link(rel="stylesheet",href="css/carousel.css",media="all",type="text/css")
block append js
  script(type="text/javascript",src="js/jquery.carouFredSel-6.2.1-packed.js")
  script(type="text/javascript",src="js/slides.min.jquery.js")
block append content
  div(style="width:940px;margin:0 auto;")
    div(style="width:940px;height:760px;background-image:url('img/golf7AdvForm.png')")
        form(method="POST",action="./golf7adverSave",style="padding-left:710px;padding-top:180px;")
          div
            span(style="font-size:11px;padding-bottom:2px;") 姓名
            input(type="text",name="name",style="width:120px;margin-left:35px;font-size:11px;line-height:10px;padding:0px 5px;")
          div
            span(style="font-size:11px;padding-bottom:2px;") 手机号码
            input#tel(type="text",name="tel",style="width:120px;margin-left:10px;font-size:11px;line-height:10px;padding:0px 5px;")
          div
            span(style="font-size:11px;padding-bottom:2px;") 意向车型配置
            table
              tr
                td
                  input(type="checkbox",name="attentionModel",value="1.4 MT舒适型")
                  span(style="font-size:11px;") 1.4 MT舒适型&nbsp;
                td
                  input(type="checkbox",name="attentionModel",value="1.4 DSG舒适型")
                  span(style="font-size:11px;") 1.4 DSG舒适型
              tr
                td
                  input(type="checkbox",name="attentionModel",value="1.4 DSG豪华型")
                  span(style="font-size:11px;") 1.4 DSG豪华型&nbsp;
                td
                  input(type="checkbox",name="attentionModel",value="1.4 DSG旗舰型")
                  span(style="font-size:11px;") 1.4 DSG旗舰型
              tr
                td
                  input(type="checkbox",name="attentionModel",value="1.6 MT时尚型")
                  span(style="font-size:11px;") 1.6 MT时尚型&nbsp;
                td
                  input(type="checkbox",name="attentionModel",value="1.6 AT时尚型")
                  span(style="font-size:11px;") 1.6 AT时尚型
              tr
                td
                  input(type="checkbox",name="attentionModel",value="1.6 AT舒适型")
                  span(style="font-size:11px;") 1.6 AT舒适型&nbsp;
            div
              span(style="font-size:11px;padding-bottom:2px;") 意向经销商
              br
              select(style="font-size:11px;height:25px;width:195px;",name="purposeShop")
                option(value="客户没有选择经销商") 请选择...
                option(value="宁波中基甬耀汽车销售服务有限公司") 宁波中基甬耀汽车销售服务有限公司
                option(value="宁波明众汽车销售服务有限公司") 宁波桥辰康嘉汽车销售服务有限公司
                option(value="宁波联合汽车销售服务有限公司") 宁波联合汽车销售服务有限公司
                option(value="宁波宝通汽车有限公司") 宁波宝通汽车有限公司
                option(value="宁波市康发汽车销售服务有限公司") 宁波市康发汽车销售服务有限公司
            div
              input.btn.btn-mini(type="submit",value="提交",style="margin-left:155px;",onclick="return submitCheck();")
  script.
      function submitCheck(){
         if(!$('#tel').val().match(/^1\d{10}$/)){
            alert("您输入的手机号码格式有误，请重新输入！");
            return false;
         }
         alert("提交成功!")
         return true;
      }


