extends layout/mainFrame
block append css
  link(href='css/index.css', rel='stylesheet', media='screen')
  link(rel="stylesheet",href="css/carousel.css",media="all",type="text/css")
block append js
  script(type="text/javascript",src="js/jquery.carouFredSel-6.2.1-packed.js")
  script(type="text/javascript",src="js/slides.min.jquery.js")
block append content
  div(style="width:940px;margin:0 auto;")
    img(src='img/xxxx.png')
