doctype html
html
  head
    meta(charset='utf-8')
  body
    div(style="margin:0 auto;width:600px")
      h7.text-center(style="margin:0 auto;font-size:25px") 【恒.甜蜜】熙熙攘攘 我总在你身边<br>
    div(style="margin:10px 0;padding-left:540px;")
      h7(style="margin-top:10px;font-size:15px;line-height:24px") 激情五月，宁波恒迪惊喜不断!
    div(style="margin:10px 0;padding-left:540px;")
      input(style="width:600px;height:260px;background-image:url('img/loveday.jpg');")
    div(style="margin:10px 0;padding-left:540px")
      h7(style="margin-top:10px;font-size:15px;line-height:24px") 五月，恋爱的季节。错过了五月十四的情人节，怎么办？别急，带上心爱的她or他<br>来宁波恒迪，让我们一起来迎接五月二十<span style="color:red;">表白日</span>吧！<br>
      h7(style="margin-top:10px;font-size:15px;line-height:24px") 活动时间：5月17日~5月18号<br>活动地点：宁波市北仑区甬江路2号<br>活动内容第一波：到店试驾并且扫描二维码，我们将送出电影兑换券两张。<br>参与活动车型：<span style="font-weight:bold;">A3  Q5  A6</span>
    div(style="padding-left:500px")
     input(style="width:680px;height:210px;background-image:url('img/movie.jpg');border:0px solid")
    div(style="padding-left:540px")
      h1(style="margin-top:10px;font-size:18px") 奥迪A6L
      h7(style="font-size:15px;line-height:24px") &nbsp;&nbsp;&nbsp;&nbsp;奥迪A6L系<span style="color:#0066CC;text-decoration:underline">一汽-大众</span>推出的国内生产的技术最先进、性能最佳、国情适应性最强的高档豪<br>华<span style="color:#0066CC;text-decoration:underline">商务车</span>，奥迪A6融入了奥迪在全球最先进的高科技独家技术，又进一步丰富了豪华的配置，<br>并赋予其超强的<span style="color:#0066CC;text-decoration:underline">运动特性</span>，从设计到性能无不体现出其完美品质。其特点是更豪华、更动感、<br>更成熟。更豪华主要体现在<span style="color:#0066CC;text-decoration:underline">BOSE音响</span>、电视/<span style="color:#0066CC;text-decoration:underline">DVD</span>和<span style="color:#0066CC;text-decoration:underline">冰箱</span>上，而且都是世界一流名牌产品。更动<br>感体现在<span style="color:#0066CC;text-decoration:underline">运动座椅</span>、方向盘上；更成熟体现在奥迪A6经过多次成功的升级，不仅达到了一个全<br>新的标准，而且可靠性很强。
    div(style="margin:10px 0;padding-left:450px")
      input(style="width:815px;height:520px;background-image:url('img/movecar.jpg');")
      div(style="margin:30px 0;")
      h7(style="font-size:15px;line-height:24px") &nbsp;&nbsp;&nbsp;&nbsp;心动不如行动，带着亲爱的Ta一起来享受浪漫五月吧！
        div(style="margin:30px 0;") 宁波恒迪恭候您的莅临品鉴！
          div
            input(style="width:272px;height:133px;background-image:url('img/erwei.jpg');")
            div
            h7 扫描上方二维码添加;<br>&nbsp;&nbsp;&nbsp;&nbsp;或搜索公众微信帐号:nbhd-audi加关注；<br>&nbsp;&nbsp;&nbsp;&nbsp;关注新浪微博：宁波恒迪奥迪4S店<br>&nbsp;&nbsp;&nbsp;&nbsp;详询一汽大众奥迪授权经销商<br>&nbsp;&nbsp;&nbsp;&nbsp;宁波恒迪汽车销售服务有限公司<br>&nbsp;&nbsp;&nbsp;&nbsp;销售热线：0574-26856666<br>&nbsp;&nbsp;&nbsp;&nbsp;服务热线：0574-26895599<br>&nbsp;&nbsp;&nbsp;&nbsp;地址：宁波市北仑区甬江路2号<br>&nbsp;&nbsp;&nbsp;&nbsp;宁波恒迪江东区CBD展厅<br>&nbsp;&nbsp;&nbsp;&nbsp;销售热线：0574-27919998<br>&nbsp;&nbsp;&nbsp;&nbsp;服务热线：0574-27919996<br>地址：宁波市江东区民安东路120-150号