extends layout/managerFrame

block append body
  div(style="margin:auto;width:1000px;margin-top:20px;")
    table(style="width:1000px;",border="1")
      tr
        td 用户名
        td 用户邮箱
        td 用户电话
        td 创建时间
      each item in data
        tr
          td #{item.userName}
          td #{item.userEmail}
          td #{item.userTel}
          td= moment(item.createDate).format("YYYY-MM-DD HH:mm:ss")