extends layout/mainFrame

block append content
  .container(style='padding: 60px 0;')
    legend 用户注册
    form.form-horizontal.span6
        .control-group
          label.control-label(for='car_type') 车型
          .controls
            select#car_type
              option(value="") 请选择车型..
              each item in carModelLv1
                option(value="#{item.id}") #{item.cname}
            br
            br
            select
              option 1.6L 自然呼吸 105马力
              option 1.4T 涡轮增压 131马力
              option 1.8T 涡轮增压 160马力
              option 2.0T 涡轮增压 200马力
        .control-group
          label.control-label(for='car_look_color') 外观颜色
          .controls
            select#car_look_color
              option 白色
              option 黑色
              option 蓝色
        .control-group
          label.control-label(for='car_inner_color') 内饰颜色
          .controls
            select#car_inner_color
              option 黑色
              option 灰色
        .control-group
          label.control-label(for='addon') 附加信息
          .controls
            input#inlineCheckbox(type='checkbox', value='option1')
            | 送进口贴膜
            input#inlineCheckbox2(type='checkbox', value='option2')
            | 导航
            input#inlineCheckbox3(type='checkbox', value='option3')
            | 100公里油卡
        .control-group
          label.control-label(for='price') 价格
          .controls
            input#price(type='text', placeholder='价格')
        .control-group
          label.control-label(for='price') 库存(现货/在途)
          .controls
            input#price.span1(type='text', placeholder='现货')
            | /
            input#price.span1(type='text', placeholder='在途')
        .control-group
          .controls
            a.btn.pull-right(href='./shop_home.html') 返回
            a.btn.pull-right.btn-primary(href='#', data-toggle='modal', data-target='#myModal') 保存
      #myModal.modal.hide.fade
        .modal-body
          p 保存成功
        .modal-footer
          a.btn(href='#', onclick='window.location.href=\'./shop_home.html\'', data-dismiss='modal', aria-hidden='true') 确定
