extends layout/mainFrame

block append content
  .container(style='padding: 10px 0;')
    legend 库存编辑
    form.form-horizontal.span6#saveShopStockForm
        .control-group
          label.control-label(for='carModelLv1') 车型
          .controls
            select#carModelLv1(name="carModelLv1")
              option(value="") 请选择车型...
              each item in carModelLv1
                option(value="#{item.id}") #{item.cname}
            br
            br
            select#carModelLv2(name="carModelLv2")
              option(value="") 请选择...
            br
            br
            select#carModelLv3(name="carModelLv3")
              option(value="") 请选择...
              
        .control-group
          label.control-label(for='carOutsideColor') 外观颜色
          .controls
            select#carOutsideColor(name="carOutsideColor")
              option(value="0") 白色
              option(value="1") 黑色
              option(value="2") 蓝色
        .control-group
          label.control-label(for='carInsideColor') 内饰颜色
          .controls
            select#carInsideColor(name="carInsideColor")
              option(value="1") 黑色
              option(value="3") 灰色
        .control-group
          label.control-label(for='carAddition : String') 附加信息
          .controls
            // TODO 附加信息
        .control-group
          label.control-label(for='carPrice') 价格
          .controls
            input#carPrice(name="carPrice",type='text', placeholder='价格')
        .control-group
          label.control-label(for='carOnHandNum') 库存(现货/在途)
          .controls
            input#carOnHandNum.span1(name="carOnOrderNum",type='text', placeholder='现货')
            | /
            input#carOnOrderNum.span1(name="carOnHandNum",type='text', placeholder='在途')
        .control-group
          .controls
            a.btn.pull-right(href='./shophome') 返回
            a.btn.pull-right.btn-primary(href='#', onClick="saveStock()") 保存
      #saveSucModal.modal.hide.fade
        .modal-body
          p 保存成功
        .modal-footer
          a.btn(href='#', onclick='window.location.href="./shophome"', data-dismiss='modal', aria-hidden='true') 确定
  script.
    $("#carModelLv1").change(function(){
        var carModelLv1Id = $("#carModelLv1 option:selected").val();
        $.getJSON("/dic?type=getCarModelLv2ByLv1Id&carModelLv1Id=" + carModelLv1Id,function(data){
            $("#carModelLv2").empty();
            $("#carModelLv2").append("<option value=''>请选择...</option>");
            $.each(data,function(index,carModelLv2){
                $("#carModelLv2").append("<option value='" + carModelLv2.id + "'>" + carModelLv2.fullName+ "</option>");
            });
        });
    });
    
    $("#carModelLv2").change(function(){
        var carModelLv2Id = $("#carModelLv2 option:selected").val();
        $.getJSON("/dic?type=getCarModelLv3ByLv2Id&carModelLv2Id=" + carModelLv2Id,function(data){
            $("#carModelLv3").empty();
            $("#carModelLv3").append("<option value=''>请选择...</option>");
            $.each(data,function(index,carModelLv3){
                $("#carModelLv3").append("<option value='" + carModelLv3.id + "'>" + carModelLv3.fullName+ "</option>");
            });
        });
    });
    
    $("#carModelLv3").change(function(){
        var carModelLv3Id = $("#carModelLv3 option:selected").val();
        $.getJSON("/dic?type=getDicColorByCarModelLv3&carModelLv3Id=" + carModelLv3Id,function(data){
            $("#carOutsideColor").empty();
            $("#carInsideColor").empty();
            $("#carOutsideColor").append("<option value=''>请选择...</option>");
            $("#carInsideColor").append("<option value=''>请选择...</option>");
            $.each(data,function(index,dicColor){
                $("#carOutsideColor").append("<option value='" + dicColor.id + "'>" + dicColor.colorCname+ "</option>");
                $("#carInsideColor").append("<option value='" + dicColor.id + "'>" + dicColor.colorCname+ "</option>");
            });
        });
    });

    function saveStock(){
         $.post("/shopstock?type=saveShopStock", $("#saveShopStockForm").serialize())
        .done(function(data) {
             if(data.saveSuc == true){
                 $("#saveSucModal").modal("show");
             }
             else{
                alert("保存错误，请检查输入是否正确！");
             }
         });
    }
