extends layout/mainFrame

block append css

block append js

block append content
  .container(style='padding: 45px 0px 0px 0px;')
    //
         shop header 
      .media(style='padding: 20px 0px 20px 0px;')
        a.pull-left(href='#')
          img.media-object(src='img/dasauto-logo.jpg')
        .media-body
          h4.media-heading #{shop.shopName}
          | 地址：#{shop.shopAddress}[查看地图]
          br
          | 电话：#{shop.shopTel}
      //
         condition 
      .row-fluid#carModelView
  script.
    $(document).ready(function(){
      //初始化汽车数据
      $("#carModelView").load("./cardata?type=getCarModelPagination");
    });
