//
    Created with JetBrains WebStorm.
    User: ruihuang
    Date: 13-8-19
    Time: 上午10:37
extends layout/mainFrame

block append content
    .container(style='padding: 10px 0;')
        .row-Fluid
            .span8.offset2
                .text-center(style='height: 200px; padding-top: 100px;')
                    h3 500元优惠券领取成功
                    br
                    h4 请记下框内显示的优惠码，并在4s店确认价格后出示进行优惠
                    .well
                        h3(style='color: blue;') #{offticket.ticketSn}
                input.btn.span2.pull-right(type='button', onclick='window.close();', value='关闭')
