//
    Created with JetBrains WebStorm.
    User: ruihuang
    Date: 13-8-19
    Time: 上午10:37
extends layout/mainFrame

block append content
    .container(style='padding: 10px 0;')
        .row-Fluid
            .span8.offset2
              img(src='img/free500step3.png', alt='free500',style="margin-top:10px")
              .text-center(style='height: 200px; padding-top: 50px;')
                    h3(style="color:#4083a9") 更称心的服务，更直接的体验，更优惠的价格
                    br
                    .row-fluid
                      .span6.offset3
                        h5 温馨提示：本种购买方式，可以让您在网站合作4S店自行议价，在店家给出的最低优惠的基础上再获得1000元现金优惠
                    br
                    br
                    form(id="userOffTicketForm",method="POST",action="./useroffticket")
                      input(type="hidden",name="id",value="#{id}")
                      input.span4#phoneNum(name="phoneNum",type="text",placeholder="请输入用以接收优惠券的手机号码")
                      div.alert.alert-error.hide#input-error 请输入手机号码
                    br
                    .btn.btn-large.btn-primary(onclick="submitForm();",style="margin-top:30px") 点击确定即可获得1000元购车优惠券
    script.
      function submitForm(){
        var phoneNum = $("#phoneNum").val();
        if(!phoneNum){
          $("#input-error").show();
        }
        else{
          $('#userOffTicketForm').submit();
        }
      }
