//
    Created with JetBrains WebStorm.
    User: ruihuang
    Date: 13-8-18
    Time: 下午2:00
.container(style='padding: 10px 0;')
    .row-Fluid
        .span8.offset2
            .text-center(style='height: 200px; padding-top: 100px;')
                h3 提交成功
                br
                h4 我们会尽快联系4s店为您提供满意的价格！
            input.btn.span2.pull-right(type='button', onclick='window.location.href="./index.html"', value='返回主页')
            input.btn.span2.pull-right(type='button', value='返回我的订单')
