//
    Created with JetBrains WebStorm.
    User: ruihuang
    Date: 13-8-19
    Time: 上午10:37
extends layout/mainFrame

block append content
    .container(style='padding: 10px 0;')
        .row-Fluid
            .span8.offset2
              img(src='img/free500Step3.png', alt='free500',style="margin-top:10px")
              .text-center(style='height: 200px; padding-top: 50px;')
                    h3(style="color:#4083a9") 更称心的服务，更直接的体验，更优惠的价格
                    br
                    .row-fluid
                      .span6.offset3
                        h5 温馨提示：本种购买方式，可以让您在网站合作4s店自行议价，在店家给出的最低优惠的基础上再获得500元现金优惠
                    .btn.btn-large.btn-primary(onclick="$('#userOffTicketForm').submit();",style="margin-top:120px") 点击确定即可获得500元购车优惠券
    form(id="userOffTicketForm",method="POST",action="./useroffticket")
        input(type="hidden",name="id",value="#{id}")
