//
    Created with JetBrains WebStorm.
    User: ruihuang
    Date: 13-8-19
    Time: 上午10:37
extends layout/mainFrame

block append content
    .container(style='padding: 10px 0;')
        .row-Fluid
            .span8.offset2
                img(src='img/free500step3.png', alt='free500confirm',style="margin-top:10px")
                .text-center(style='height: 200px; padding-top: 50px;')
                    h3(style="color:#4083a9") 500元优惠券领取成功
                    br
                    h5 优惠券信息会发送至您的手机，请耐心等待。
                  //
                    h5 请记下框内显示的优惠码，您可在网站合作4S店自行议价，在店家给出的最低优惠的基础上出示优惠码，由网站负责
                    br
                    .well(style="background-color:#e7e7e7;padding:7px")
                        h4(style='color: #ec6197;') #{offticket.ticketSn}
                    input.btn.span2.pull-right(type='button', onclick='window.close();', value='关闭')
