extends layout/mainFrame
block append css
    link(href='css/index.css', rel='stylesheet', media='screen')
    link(rel="stylesheet",href="css/carousel.css",media="all",type="text/css")
block append js
    script(type="text/javascript",src="js/jquery.carouFredSel-6.2.1-packed.js")
    script(type="text/javascript",src="js/slides.min.jquery.js")
block append content
    div(style="width:1200px;margin:0 auto;")
        div(style="width:1200px;height:800px;background-image:url('img/dongmanjie.jpg')")
            form(method="POST",action="./vw6AdverSave",style="padding-left:80px;padding-top:530px;")
                div
                    span(style="font-size:15px;padding-bottom:2px;") 姓名
                    input(type="text",name="name",style="width:140px;margin-left:40px;font-size:11px;line-height:10px;padding:0px 5px;")
                div
                    span(style="font-size:15px;padding-bottom:2px;") 手机号码
                    input#tel(type="text",name="tel",style="width:140px;margin-left:10px;font-size:11px;line-height:10px;padding:0px 5px;")
                div
                    span(style="font-size:15px;padding-bottom:2px;margin-top:20px") 意向车型配置
                    table
                        tr
                            td
                                input(type="checkbox",name="attentionModel",value="一汽大众高尔夫")
                                span(style="font-size:13px;") 一汽大众高尔夫&nbsp;
                            td
                                input(type="checkbox",name="attentionModel",value="上海大众polo")
                                span(style="font-size:13px;") 上海大众polo
                        tr
                            td
                                input(type="checkbox",name="attentionModel",value="奔驰smart")
                                span(style="font-size:13px;") 奔驰smart&nbsp;
                            td
                                input(type="checkbox",name="attentionModel",value="雷克萨斯CT200")
                                span(style="font-size:13px;") 雷克萨斯CT200
                        tr
                            td
                                input(type="checkbox",name="attentionModel",value="名爵M3")
                                span(style="font-size:13px;") 名爵M3&nbsp;
                            td
                                input(type="checkbox",name="attentionModel",value="进口大众尚酷")
                                span(style="font-size:13px;") 进口大众尚酷
                        tr
                            td
                                input(type="checkbox",name="attentionModel",value="奥迪A3")
                                span(style="font-size:13px;") 奥迪A3&nbsp;
                    div
                        input.btn.btn-mini(type="submit",value="提交",style="margin-left:155px;font-size:17px",onclick="return submitCheck();")
        div(style="margin:0 auto;margin-top:-5px;width:1200px;font-size:11px;")
            a(href="/",style="color:#FFFFFF;")
    script.
        function submitCheck(){
           if(!$('#tel').val().match(/^1\d{10}$/)){
              alert("您输入的手机号码格式有误，请重新输入！");
              return false;
           }
           alert("提交成功!")
           return true;
        }
