doctype html
html
    head
        meta(charset='utf-8')
        block css
            link(href='css/bootstrap.min.css', rel='stylesheet', media='screen')
            link(href='css/style.css', rel='stylesheet', media='screen')
            link(rel="icon",type="image/png",href="img/favicon.png")
        block js
            script(src='js/jquery-1.10.2.min.js')
            script(src='js/bootstrap.min.js')
            script(src='js/spin.min.js')
            script(src='js/tools.js')
            script(src='js/jquery.unveil.min.js')
    body(style="background:url('img/subtle_dots.png');")
      div(style="width:1550px;;margin:0 auto;")
        div(style="width:100%;height:1220px;background-image:url('img/vw_adver.jpg')")
            form(method="POST",action="./vwAdverSave",style="padding-left:1110px;padding-top:180px;")
              div
                span(style="font-size:11px;padding-bottom:2px;") 姓名
                input(type="text",name="name",style="width:120px;margin-left:32px;font-size:11px;line-height:10px;padding:0px 5px;")
              div
                span(style="font-size:11px;padding-bottom:2px;") 手机号码
                input#tel(type="text",name="tel",style="width:120px;margin-left:10px;font-size:11px;line-height:10px;padding:0px 5px;")
              div
                span(style="font-size:11px;padding-bottom:2px;") 意向车型配置
                table
                  tr
                    td
                      input(type="checkbox",name="attentionModel",value="速腾")
                      span(style="font-size:11px;") 速腾
                    td
                      input(type="checkbox",name="attentionModel",value="高尔夫6")
                      span(style="font-size:11px;") 高尔夫6
                  tr
                    td
                      input(type="checkbox",name="attentionModel",value="高尔夫7")
                      span(style="font-size:11px;") 高尔夫7&nbsp;
                    td
                      input(type="checkbox",name="attentionModel",value="宝来")
                      span(style="font-size:11px;") 宝来
                  tr
                    td
                      input(type="checkbox",name="attentionModel",value="迈腾")
                      span(style="font-size:11px;") 迈腾&nbsp;
                    td
                      input(type="checkbox",name="attentionModel",value="捷达")
                      span(style="font-size:11px;") 捷达
                  tr
                    td
                      input(type="checkbox",name="attentionModel",value="一汽")
                      span(style="font-size:11px;") 一汽&nbsp;
                div
                  input.btn.btn-mini(type="submit",value="提交",style="margin-left:155px;",onclick="return submitCheck();")

      script.
          function submitCheck(){
             if(!$('#tel').val().match(/^1\d{10}$/)){
                alert("您输入的手机号码格式有误，请重新输入！");
                return false;
             }
             alert("提交成功!")
             return true;
          }


