doctype html
html
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=640")
    block css
      link(href='css/bootstrap.min.css', rel='stylesheet', media='screen')
      link(rel="icon",type="image/png",href="img/favicon.png")
    block js
      script(src='js/jquery-1.10.2.min.js')
      script(src='js/bootstrap.min.js')
      script(src='js/spin.min.js')
      script(src='js/tools.js')
      script(src='js/jquery.unveil.min.js')
  body(style="background-color:#f1f1f1;padding:20px")
    div
      p(style="font-size:26px;color:#666666")
        | 您的朋友
        stong(style="font-size:30px;color:#ff0101") 张宁
        | 邀请您帮他转发
    div(style="border:1px solid #cccccc;border-radius:10px;background-color:#ffffff;padding:30px")
      p(style="font-size:52px;color:#666666") 转发赢Ipad mini
      img(src="img/phone1.png")
      div(style="background-color:#f1f1f1;padding:20px;")
        p(style="font-size:26px;color:#eb6100;line-height:50px;")
          | 张宁：已被转发：
          stong(style="font-size:34px") 1270
          | 次，目前排在
          stong(style="font-size:34px") 1
          | 名
        p(style="font-size:26px;color:#eb6100;line-height:100px;") 离结束还有：
        p(style="font-size:32px;color:#ff0000;line-height:100px;text-align:center;") 13天1小时14分43秒
      div(style="margin-top:50px;")
        p(style="font-size:34px;color:#666666") 活动描述
        div(style="margin-top:30px;margin-bottom:30px;")
          img(src="img/phone1.png")


        p(style="font-size:34px;color:#333333;line-height:50px;") 奖品设置：
        p(style="font-size:34px;color:#666666;line-height:50px;")
          | 第一名
          stong(style="color:#ff0000;font-size:26px;") 特等奖---三星平板电脑
        p(style="font-size:34px;color:#666666;line-height:50px;")
          | 第二名
          stong(style="color:#ff0000;font-size:26px;") 一等奖---三星平板电脑
        p(style="font-size:34px;color:#666666;line-height:50px;")
          | 第三名
          stong(style="color:#ff0000;font-size:26px;") 二等奖---三星平板电脑
        p(style="font-size:34px;color:#666666;line-height:50px;")
          | 第四名
          stong(style="color:#ff0000;font-size:26px;") 三等奖---三星平板电脑
        p(style="font-size:34px;color:#333333;line-height:50px;")
          | 开奖时间:
          stong(style="color:#ff0000;font-size:26px;") 2014年6月8日20：00开奖
        p(style="font-size:34px;color:#333333;line-height:50px;")
          | 开奖地点:
          stong(style="color:#ff0000;font-size:26px;") 宁波
        p(style="font-size:34px;color:#333333;line-height:50px;")
          | 开奖方式:
          stong(style="color:#ff0000;font-size:26px;") 截止6月5日23：59公布获奖名单（6月6日至6月8日18：00预约领奖品分店）到时欢迎大家前来参观监督。


        p(style="font-size:34px;color:#333333;line-height:50px;") 活动说明：
        p(style="font-size:26px;line-height:40px;") 一、如何参与本活动
          br
          | 1.在朋友圈分享公众号
          br
          | 已关注“梯卡科技”公众号的直接进入“梯卡科技”微网，点击“最新活动”模块，填写真实姓名和手机号码开始转发抢大奖。
          br
          | 2.未关注的，请先关注“梯卡科技”公众号，再参见第一条。
          br
          | 3.在朋友圈转发本条消息，邀请更多的朋友帮您转发。
          br
          | 二、转发计数的统计方法为：
          br
          | 详细规则请看最下面的“我来参与转发”。
          br
          | 三、本活动为后台系统自动统计生成，公平公正，真实有效。
          br
          | 四、详情请致电：400-007-9902.






