doctype html
html
    head
        title 梯卡汽车网
        meta(charset='utf-8')
        meta(id="viewport",name="viewport",content="100%")
        block css
        block js
    body
        div(style="background-color:#102742;width:100%;height:76px;margin-left:0px;text-align:center;padding-top:38px")
            label(style="color:white;width:100%;height:116px;margin-top:38px;font-size:36px;") 车型预览
        div(style="background-color:#fcfcfb;margin-top:54px;")
            h1(style="margin-left:30px;color:#8b8b8d;font-size:24px;") 请选择生产厂商:
            h2(style="border-bottom:1px solid #8b8b8d;margin-left:20px;margin-right:20px;margin-top:12px;height:1px;width:96%;")
            div(style="margin-top:0px;")
                span(style="width:100%;")
                    each brand in allBrands
                        a(href="/wxcarselect?carBrand=#{brand.myBrandId}&carSubBrand=#{brand.mySubBrandId}")
                            div(style="width:96%;margin-left:20px;height:76px;border-bottom:1px solid #8b8b8d")
                                //img(style="margin-top:18px;margin-left:20px;",src="")
                                div(style="color:#4b4b4c;float:left;font-size:26px;margin-top:24px;margin-left:42px;") #{brand.brandName}</br>


