footer.footer
    .row-fluid
        .span6.offset3
          .row-fluid
            .span4
              ul.unstyled.text-left(style='width: 60%; margin: auto;')
                li
                  h5
                    img(src='img/direction.png', alt='derection',style="padding-bottom: 4px;")
                    | 购车保障
                li
                  h6  三天内无条件退款
                li
                  h6  4s店新车保证
                li
                  h6  低价保证
                li
                  h6  无任何强制性消费
            .span4
              ul.unstyled.text-left(style='width: 60%; margin: auto;')
                li
                  h5
                    img(src='img/heart.png', alt='heart',style="padding-bottom: 4px;")
                    | 网站购车方式
                li
                  h6  按网站指导价购买
                li
                  h6  提交自己的价格购买
                li
                  h6  优惠500元购买
            .span4
              ul.unstyled.text-left(style='width: 60%; margin: auto;')
                li
                  h5
                    img(src='img/tag.png', alt='tag',style="padding-bottom: 4px;")
                    | 4s店入住
                li
                  h6  4s店推广
                li
                  h6  4s店加入流程
                li
                  h6  4s店加入规则
      .container
        h5(style='color: #555555;') 杭州鲸硅科技有限公司出品
