footer.footer(style="background-color: #f6f6f6;border-top:0px;margin-top:-100px")
    .row-fluid
        .span8.offset2
            .row-fluid(style='margin-bottom: 10px; padding-bottom: 10px;')
                .span3
                    ul.unstyled.text-left(style='margin: auto;')
                        li
                            img(src='img/logo2.png', alt='derection', style='padding-bottom: 0px; width: 70px; color: #999999;')
                        h6       Teecar(梯卡网) 全国首家涵盖真实4S店的B2C电商平台，业务涵盖新车销售、二手车销售、汽车维修保养、汽配百货销售。24小时全天候营业。
                .span3
                    ul.unstyled.text-left(style='width: 60%; margin: auto;')
                        li
                            h5
                                img(src='img/direction.png', alt='derection', style='padding-bottom: 4px;')
                                | 购车保障
                        br
                        li
                            h6 三天内无条件退款
                        li
                            h6 4S店新车保证
                        li
                            h6 低价保证
                        li
                            h6 无任何强制性消费
                .span3
                    ul.unstyled.text-left(style='width: 60%; margin: auto;')
                        li
                            h5
                                img(src='img/heart.png', alt='heart', style='padding-bottom: 4px;')
                                | 网站购车方式
                        br
                        li
                            a(href="./way1")
                                h6 按网站指导价购买
                        li
                            a(href="./way1#my_price")
                                h6 提交自己的价格购买
                        li
                            a(href="./way1#off_price")
                                h6 优惠500元购买
                .span3
                    ul.unstyled.text-left(style='width: 60%; margin: auto;')
                        li
                            h5
                                img(src='img/tag.png', alt='tag', style='padding-bottom: 4px;')
                                | 4S店入住
                        br
                        li
                            h6 4S店推广
                        li
                            h6 4S店加入流程
                        li
                            h6 4S店加入规则
                        li
                            h6
                                a(href="#shopLogin",data-toggle="modal")  4S店登录入口
    #footer.row-fluid(style='background-color: #f6f6f6;')
        .span8.offset2(style="text-align:center;")
            h5 Copyright © 2012 - 2013 梯卡版权所有   浙ICP备13035606号   咨询热线 400-007-9902

    h5(style='color: #555555;text-align:center;')
        | 杭州梯卡科技有限公司出品
        br
        script.
            var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1000229028'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s22.cnzz.com/z_stat.php%3Fid%3D1000229028%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));

    div(id="shopLogin",class="modal hide fade",tabindex="-1",role="dialog",aria-hidden="true")
        .modal-header
            button(type="button",class="close",data-dismiss="modal",aria-hidden="true") X
            h3 4S店管理员登录
        .modal-body
            form.form-horizontal#shopLoginForm(action="/shop?type=login",method="post",style="text-align:left")
                div.control-group
                    label.control-label(for="shopLoginName") 用户名
                    div.controls
                        input(type="text",id="shopLoginName",name="loginName",placeholder="用户名")
                div.control-group
                    label.control-label(for="shopLoginPasword") 密码
                    div.controls
                        input(type="password",id="shopLoginPasword",name="loginPassword",placeholder="密码")
                div.alert.alert-error.hide#shoplogin-error 用户名密码错误，请重新输入!
                div.alert.alert-success.hide#shoplogin-succee 登录成功
        .modal-footer
            a(href="#",class="btn btn-primary",onclick="shopLogin();") 登录
        script.
            function shopLogin(){
              $.post("/shop?type=login", $("#shopLoginForm").serialize()).done(function(data) {
                $("#shoplogin-error").slideUp();
                if(data.loginSuc){
                  $("#shoplogin-succee").show();
                  $("#shoplogin-error").hide();
                  window.location.href = "/shophome";
                }
                else{
                  $("#shoplogin-succee").slideUp();
                  $("#shoplogin-error").slideDown();
                }
              });
            }

            function shopLogout(){
              $.post("/shop?type=logout", {})
              .done(function(data) {
                  window.location.href = '/';
              });
            }

            //回车进行提交的快捷键
            $(document).keypress(function(e) {
              if(e.which == 13) {
                  if($('#shopLogin').attr('aria-hidden') != "true"){
                      shopLogin();
                  }
              }
            });
//
   Created by wufei on 14-7-11.

