doctype html
html
  head
    title 梯卡汽车网
    meta(charset='utf-8')
    block css
      link(href='css/bootstrap.min.css', rel='stylesheet', media='screen')
      link(href='css/style.css', rel='stylesheet', media='screen')
      link(rel="icon",type="image/png",href="img/favicon.png")
    block js
      script(src='js/jquery-1.10.2.min.js')
      script(src='js/bootstrap.min.js')
      script(src='js/spin.min.js')
      script(src='js/tools.js')
      script(src='js/jquery.unveil.min.js')
  body(style="background:url('img/subtle_dots.png');")
    div(style="min-height:550px;　height:100%")
      block content
        include navbar
    include footer
    script.
        $("img").unveil(200);