extends mainFrame

block append content
  div(style="width:1000px;margin:auto;height:550px;font-size:9pt;")
    div.navbar.navbar-inverse
      div.navbar-inner
        div.container
          a(href="/").brand Teecar
          div.nav-collapse.collapse
            ul.nav
              li
                a(href="/managerUserOffTicket") 网站优惠订单列表
              li
                a(href="/managerUserOrder") 网站订单列表
              li
                a(href="/managerUserSubmitPrice") 用户提交价格列表
              li
                a(href="/managerUser") 注册用户列表
    block body