.navbar.navbar-inverse
  #toptab.navbar-inner(style='height: 30px;')
    .container(style='margin-bottom: 0px; margin-top: 4px;')
        a(href='http://weibo.com/u/3860454014')
          img(src='img/weibo_out.gif', alt='weibo_out')
        h6(style='margin: auto; display: inline;', calss='nav') 关注梯卡网官方微博
        .pull-right
          h6(style='margin: auto; display: inline;', calss='nav') 服务时间：周一至周日 9:00 - 21:00
          img(src='img/phone.png', alt='phone', style='height: 18px;')
          h5(style='margin: auto; display: inline;', calss='nav') 400-8888-8888
  .navbar-inner(style="height: 58px")
    .container(style="margin-bottom: 0px;margin-top: 0px;")
      div.brand
        a(href="/")
          img(src="img/logo2.png",alt="logo",style="padding-top:5px;width: 120px; height: 30px;")
      ul.nav(style="margin-bottom: 5px;margin-top: 18px")
        li(style="padding: 0px 5px;")
          a(href='/') 汽车频道
        li(style="padding: 0px 5px;")
          a(href='/shoplist') 4S店频道
        li(style="padding: 0px 5px;")
          a(href='/buildingl') 移动应用
        li(style="padding: 0px 5px;")
          a(href='/about_us') 关于我们
      ul.nav.pull-right(style="margin-top:15px;font-size:12px;")
          if !session.currentUser
            if !session.currentShop
              li
                a(href="#loginModal",role="button",data-toggle="modal") <img src="img/login.png" alt="logo"> 登陆 <img src="img/rss.png">
            -else
              li
                a(href="/shophome",role="button",data-toggle="modal") 4S店管理页面
              li
                a(onclick="shopLogout();return false;",href="#",role="button") 注销
          -else
            li
              a(href="/#",role="button",data-toggle="modal") 您好，#{session.currentUser.userName}!
            li
              a(href="/userhome",role="button") 用户中心
            li
              a(onclick="logout();return false;",href="#",role="button") 注销
include user

script.
  $(function(){
    var path = window.location.pathname;
    $("ul.nav li a[href='" + path + "']").parent('li').addClass('active')
  });
