.navbar.navbar-inverse
    div(style="width:1410px;height:36px;margin:0 auto;background-color:#112742")
      div(style="padding-top:10px")
      h4 <font color=white>TEEcar 梯卡汽车网</font> <font color="#729acl" size="1px">倡导透明购车理念</font>
        .pull-right
          h6(style="display: inline;", calss='nav')
            a(href='/') <font color="#729acl" size="1px">首页</font>
            h6(style="display: inline;padding-left:40px", calss='nav')
              a(href='/shoplist') <font color="#729acl" size="1px">4S店频道</font>
              h6(style="display: inline;padding-left:40px", calss='nav')
                a(href='/buildingl') <font color="#729acl" size="1px">移动应用</font>
                h6(style="display: inline;padding-left:40px", calss='nav')
                  a(href='/about_us') <font color="#729acl" size="1px">关于我们 |</font>
                  img(src='img/phone.png', alt='phone', style='height: 18px;padding-left:40px')
                  h5(style='display: inline;width:150px;', calss='nav') <font color="#729acl" size="1px">400-007-9902</font>
                    ul.pull-right(style="margin-top:0px;font-size:12px;")
                        if !session.currentUser
                          if !session.currentShop
                            li
                              a(href="#loginModal",role="button",data-toggle="modal") <img src="img/login.png" alt="logo"> 登陆 <img src="img/rss.png">
                          -else
                            li
                              a(href="/shophome",role="button",data-toggle="modal") 4S店管理页面
                            li
                              a(onclick="shopLogout();return false;",href="#",role="button") 注销
                        -else
                          li
                            a(href="/#",role="button",data-toggle="modal") 您好，#{session.currentUser.userName}!
                          li
                            a(href="/userhome",role="button") 用户中心
                          li
                            a(onclick="logout();return false;",href="#",role="button") 注销
include user

script.
  $(function(){
    var path = window.location.pathname;
    $("ul.nav li a[href='" + path + "']").parent('li').addClass('active')
  });
