.navbar.navbar-inverse
    #toptab.navbar-inner(style='height: 36px;width:1920px;border-bottom-width: 0px;background-image:linear-gradient(to bottom, #112742, #112742)')
        .container(style='margin-bottom: 0px; margin-top: 8px;')
            //去掉导航微博链接
            //a(href='http://weibo.com/u/3860454014')
             // img(src='img/weibo_out.gif', alt='weibo_out')
            h6(style='margin: auto; display: inline;color:#ffffff;font-size:22px;margin-left:-250px', calss='nav') <strong style="color:#ffffff">TEE</strong>Car梯卡汽车网
            h6(style='margin: auto; display: inline;color:#729ac1;font-size:16px', calss='nav') 倡导透明购车理念
            .pull-right(style="padding-left:200px")
                a(style="margin: auto; display: inline;color:#729ac1;font-size:16px;",class='nav',href='/') 首页
                a(style="margin: auto; display: inline;color:#729ac1;font-size:16px;margin-left:40px",class='nav',href='/shoplist') 4S店频道
                a(style="margin: auto; display: inline;color:#729ac1;font-size:16px;margin-left:40px",class='nav',href='/buildingl') 移动应用
                a(style="margin: auto; display: inline;color:#729ac1;font-size:16px;margin-left:40px",class='nav',href='/about_us') 关于我们
                img(src='img/phone.png', alt='phone', style='height: 18px;margin-left:40px',calss='nav')
                h5(style='display: inline;width:150px;', calss='nav')
                    | 400-007-9902 &nbsp;
                a(href="#loginModal",role="button",data-toggle="modal",style="margin: auto; display: inline;color:#729ac1;font-size:16px;margin-left:40px",calss='nav') <img src="img/login.png" alt="logo"> 登陆
include user

script.
    $(function(){
      var path = window.location.pathname;
      $("ul.nav li a[href='" + path + "']").parent('li').addClass('active')
    });
