div(id="loginModal",class="modal hide fade",tabindex="-1",role="dialog",aria-hidden="true")
  .modal-header
    button(type="button",class="close",data-dismiss="modal",aria-hidden="true") X
    h3 登陆
  .modal-body
    form.form-horizontal#loginForm(action="/login",method="post")
      div.control-group
        label.control-label(for="loginName")用户名
        div.controls
          input(type="text",id="loginName",name="loginName",placeholder="用户名")
      div.control-group
        label.control-label(for="password")密码
        div.controls
          input(type="password",id="loginName",name="password",placeholder="密码")
      div.alert.alert-error.hide#login-error 用户名密码错误，请重新输入!
      div.alert.alert-success.hide#login-succee 登陆成功
  .modal-footer
    a(href="#",class="btn",onClick="switchLoginAndRegist('regist');") 注册
    a#loginSubmitBtn(href="#",class="btn btn-primary",onclick="login();") 登陆

div(id="registModal",class="modal hide fade",tabindex="-1",role="dialog",aria-hidden="true")
  .modal-header
    button(type="button",class="close",data-dismiss="modal",aria-hidden="true") X
    h3 注册
  .modal-body
    form.form-horizontal#registForm(action="/regist",method="post")
      div.control-group
        label.control-label(for="loginName")用户名
        div.controls
          input(type="text",id="loginName",name="loginName",placeholder="用户名")
      div.control-group
        label.control-label(for="loginPassword")密码
        div.controls
          input(type="password",id="loginPassword",name="loginPassword",placeholder="密码")
      div.control-group
        label.control-label(for="loginPasswordConfirm")密码确认
        div.controls
          input(type="password",id="loginPasswordConfirm",name="loginPasswordConfirm",placeholder="再输入一遍密码")
      div.control-group
        label.control-label(for="userName")姓名
        div.controls
          input(type="text",id="userName",name="userName",placeholder="姓名")
      div.control-group
        label.control-label(for="userCity")城市
        div.controls
          select(id="userCity",name="userCity")
            option(value="") 选择城市
            each city in allDicCitys
                option(value="#{city.id}") #{city.cityCname}
      div.control-group
        label.control-label(for="userTel")手机号码
        div.controls
          input(type="text",id="userTel",name="userTel",placeholder="手机号码")
      div.control-group
        label.control-label(for="userEmail")邮箱地址
        div.controls
          input(type="text",id="userEmail",name="userEmail",placeholder="邮箱地址")
      div.alert.alert-error.hide#regist-error 注册失败
      div.alert.alert-success.hide#regist-succee 注册成功
  .modal-footer
    a(href="#",class="btn",onClick="switchLoginAndRegist('login');") 登陆
    a#registSubmitBtn(href="#",class="btn btn-primary",onClick="regist();return false;") 提交注册

script.
  //切换登陆和注册的窗口
  function switchLoginAndRegist(selected){
    if(selected == "regist"){
      $('#loginModal').modal('hide');
      $("#registModal").modal('show');
    }
    else if(selected == "login"){
      $('#loginModal').modal('show');
      $("#registModal").modal('hide');
    }
  }

  //回车进行提交的快捷键
  $(document).keypress(function(e) {
    if(e.which == 13) {
      if($('#loginModal').attr('aria-hidden') != "true"){
        login();
      }
      else if($('#registModal').attr('aria-hidden') != "true"){
        regist();
      }
    }
  });

  function login(){
    $.post("/user?type=login", $("#loginForm").serialize())
      .done(function(data) {
      if(data.loginSuc){
        $("#login-succee").show();
        $("#login-error").hide();
        window.location.reload();
      }
      else{
        $("#login-succee").slideUp();
        $("#login-error").slideDown();
      }
    });
  }

  function logout(){
    $.post("/user?type=logout", {})
        .done(function(data) {
        window.location.reload();
    });
  }

  function regist(){
    formValidate("registForm","validateUserRegister",function(data){
     if(data){
        $.post("/user?type=regist", $("#registForm").serialize())
             .done(function(data) {
             if(data.registSuc){
               $("#regist-succee").show();
               $("#regist-error").hide();
               switchLoginAndRegist('login');
             }
             else{
               $("#regist-succee").slideUp();
               $("#regist-error").slideDown();
             }
           });
     }
    });
  }
